# Analysis of restaurant inspections by the New York Department of Health and Mental Hygiene (DOHMH) and grades given by borough

Dataset infromation: https://data.cityofnewyork.us/Health/DOHMH-New-York-City-Restaurant-Inspection-Results/43nn-pn8j

Dataset used for analysis: https://drive.google.com/drive/folders/1uOLuU1D9IlCsumSIV7RJpawCti48gRNz

In [1]:
## import library
import pandas as pd

In [2]:
## display code
pd.options.display.float_format = '{:,.0f}'.format

In [3]:
from IPython.display import display, HTML

css = """
.output {
    flex-direction: row;
}
"""

HTML('<style>{}</style>'.format(css))

In [4]:
## read data
df = pd.read_csv("nyc-restaurant-inspection-results.csv")
df

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,...,INSPECTION TYPE,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA,Location Point1
0,50113925,BAD HABITS,Queens,3203,BROADWAY,"11,106",3477385989,NaN,01/01/1900,NaN,...,NaN,41,-74,401,22,"6,100","4,008,406","4,006,140,008",QN70,NaN
1,50132324,NaN,Staten Island,81,WINANT PLACE,"10,309",9960317,NaN,01/01/1900,NaN,...,NaN,41,-74,503,51,"22,600","5,095,694","5,074,000,142",SI11,NaN
2,50128941,Londel's Supper Club,Manhattan,2620,FREDERICK DOUGLASS BOULEVARD,NaN,2122340601,NaN,01/01/1900,NaN,...,NaN,0,0,NaN,NaN,NaN,NaN,1,NaN,NaN
3,50125033,NaN,Queens,8609,ROOSEVELT AVE,"11,372",3477715709,NaN,01/01/1900,NaN,...,NaN,41,-74,403,21,"27,900","4,036,259","4,014,740,037",QN28,NaN
4,50115776,DISCOVERY,Manhattan,230,PARK AVE S,"10,003",7043286907,NaN,01/01/1900,NaN,...,NaN,41,-74,105,2,"5,200","1,016,152","1,008,470,040",MN13,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202462,50045404,AFRICAN HOME RESTAURANT,Bronx,57,EAST TREMONT AVENUE,"10,453",3475677708,African,02/13/2023,Violations were cited in the following area(s).,...,Cycle Inspection / Re-inspection,41,-74,205,14,"24,100","2,007,940","2,028,290,026",BX41,NaN
202463,50056578,96 FAVOR TASTE RESTAURANT,Queens,13541,37TH AVE,"11,354",7184609699,Chinese,01/28/2020,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,407,20,"86,900","4,584,155","4,049,710,059",QN22,NaN
202464,50065986,TWISTED ROOTZ,Brooklyn,7905,FLATLANDS AVENUE,"11,236",3476737537,"Juice, Smoothies, Fruit Salads",05/13/2022,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,318,46,"95,000","3,396,494","3,080,000,108",BK50,NaN
202465,41519679,RIVERDALE SECOND HELPING,Bronx,3532,JOHNSON AVENUE,"10,463",7185481818,Jewish/Kosher,06/12/2019,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,208,11,"29,500","2,084,151","2,057,930,457",BX29,NaN
202466,50099700,CHECKERS,Manhattan,23,SAINT JAMES PLACE,"10,038",2125878870,Hamburgers,01/30/2020,Violations were cited in the following area(s).,...,Pre-permit (Operational) / Re-inspection,41,-74,103,1,"2,500","1,077,417","1,001,110,100",MN27,NaN

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 202467 entries, 0 to 202466
Data columns (total 27 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   CAMIS                  202467 non-null  int64
 1   DBA                    200754 non-null  object
 2   BORO                   202467 non-null  object
 3   BUILDING               202076 non-null  object
 4   STREET                 202439 non-null  object
 5   ZIPCODE                199669 non-null  float64
 6   PHONE                  202456 non-null  object
 7   CUISINE DESCRIPTION    198175 non-null  object
 8   INSPECTION DATE        202467 non-null  object
 9   ACTION                 198175 non-null  object
 10  VIOLATION CODE         196999 non-null  object
 11  VIOLATION DESCRIPTION  196999 non-null  object
 12  CRITICAL FLAG          202467 non-null  object
 13  SCORE                  191591 non-null  float64
 14  GRADE                  100125 non-null  object
 15  GRADE DATE             92947 non-null   object
 16  RECORD DATE            202467 non-null  object
 17  INSPECTION TYPE        198175 non-null  object
 18  Latitude               202167 non-null  float64
 19  Longitude              202167 non-null  float64
 20  Community Board        199067 non-null  float64
 21  Council District       199067 non-null  float64
 22  Census Tract           199067 non-null  float64
 23  BIN                    198043 non-null  float64
 24  BBL                    201837 non-null  float64
 25  NTA                    199067 non-null  object
 26  Location Point1        0 non-null       float64
dtypes: float64(10), int64(1), object(16)
memory usage: 41.7+ MB

In [6]:
df.columns

Index(['CAMIS', 'DBA', 'BORO', 'BUILDING', 'STREET', 'ZIPCODE', 'PHONE',
       'CUISINE DESCRIPTION', 'INSPECTION DATE', 'ACTION', 'VIOLATION CODE',
       'VIOLATION DESCRIPTION', 'CRITICAL FLAG', 'SCORE', 'GRADE',
       'GRADE DATE', 'RECORD DATE', 'INSPECTION TYPE', 'Latitude', 'Longitude',
       'Community Board', 'Council District', 'Census Tract', 'BIN', 'BBL',
       'NTA', 'Location Point1'],
      dtype='object')

In [7]:
list(df.columns)

['CAMIS',
 'DBA',
 'BORO',
 'BUILDING',
 'STREET',
 'ZIPCODE',
 'PHONE',
 'CUISINE DESCRIPTION',
 'INSPECTION DATE',
 'ACTION',
 'VIOLATION CODE',
 'VIOLATION DESCRIPTION',
 'CRITICAL FLAG',
 'SCORE',
 'GRADE',
 'GRADE DATE',
 'RECORD DATE',
 'INSPECTION TYPE',
 'Latitude',
 'Longitude',
 'Community Board',
 'Council District',
 'Census Tract',
 'BIN',
 'BBL',
 'NTA',
 'Location Point1']

In [8]:
## Selection of years to identify inspections

In [9]:
## Grades per borough
boroughs_gb = df.groupby("BORO")
boroughs_gb

In [10]:
type("boroughs_gb")

str

In [11]:
## Amount of grades given by borough
df.groupby("BORO")["BORO"].count()

BORO
0                   65
Bronx            18852
Brooklyn         53883
Manhattan        75411
Queens           47664
Staten Island     6592
Name: BORO, dtype: int64

In [12]:
df.groupby(["BORO","INSPECTION TYPE"])["GRADE"].count()

BORO           INSPECTION TYPE
0              Cycle Inspection / Initial Inspection                   15
               Cycle Inspection / Re-inspection                         3
               Inter-Agency Task Force / Initial Inspection             0
Bronx          Administrative Miscellaneous / Compliance Inspection     0
               Administrative Miscellaneous / Initial Inspection        2
                                                                       ..
Staten Island  Smoke-Free Air Act / Initial Inspection                  0
               Smoke-Free Air Act / Limited Inspection                  0
               Smoke-Free Air Act / Re-inspection                       0
               Trans Fat / Initial Inspection                           0
               Trans Fat / Re-inspection                                0
Name: GRADE, Length: 130, dtype: int64

In [13]:
## Biggest violations
## Biggest violations by borough

df.groupby(["BORO","VIOLATION CODE"])["VIOLATION DESCRIPTION"].count()

BORO           VIOLATION CODE
0              02B               1
               02G               1
               04A               1
               04H               4
               04L               1
                                ..
Staten Island  22E               2
               22F               3
               22G               6
               28-03             4
               28-06             7
Name: VIOLATION DESCRIPTION, Length: 590, dtype: int64

In [14]:
## Cuisines
df["CUISINE DESCRIPTION"].count()

198175

In [15]:
list(df["CUISINE DESCRIPTION"].unique())

[nan,
 'American',
 'Mexican',
 'Italian',
 'Latin American',
 'Chinese',
 'Pizza',
 'Coffee/Tea',
 'Spanish',
 'Thai',
 'Southeast Asian',
 'Japanese',
 'Donuts',
 'Chicken',
 'French',
 'Indian',
 'Jewish/Kosher',
 'Sandwiches',
 'Creole/Cajun',
 'African',
 'Caribbean',
 'Bakery Products/Desserts',
 'Juice, Smoothies, Fruit Salads',
 'Tex-Mex',
 'Bangladeshi',
 'Greek',
 'Frozen Desserts',
 'German',
 'Asian/Asian Fusion',
 'Bottled Beverages',
 'Hamburgers',
 'Pakistani',
 'Other',
 'Afghan',
 'Middle Eastern',
 'Turkish',
 'Polish',
 'Hotdogs',
 'Korean',
 'English',
 'Salads',
 'Steakhouse',
 'Chinese/Japanese',
 'Mediterranean',
 'Irish',
 'Pancakes/Waffles',
 'Seafood',
 'Vegetarian',
 'Bagels/Pretzels',
 'Soups/Salads/Sandwiches',
 'Chilean',
 'Sandwiches/Salads/Mixed Buffet',
 'Russian',
 'Eastern European',
 'Portuguese',
 'Peruvian',
 'Brazilian',
 'Soups',
 'Nuts/Confectionary',
 'Soul Food',
 'Tapas',
 'New American',
 'Vegan',
 'Ethiopian',
 'Fusion',
 'Creole',
 'Scandinavian',
 'Filipino',
 'Continental',
 'Barbecue',
 'Chinese/Cuban',
 'Iranian',
 'Cajun',
 'Hotdogs/Pretzels',
 'Egyptian',
 'Australian',
 'Indonesian',
 'Not Listed/Not Applicable',
 'Hawaiian',
 'Lebanese',
 'Armenian',
 'Fruits/Vegetables',
 'Czech',
 'Southwestern',
 'Moroccan',
 'Californian',
 'New French',
 'Basque']

## Cuisine with best & worst grades

In [17]:
group1 = df[["BORO", "GRADE", "CUISINE DESCRIPTION"]]
group1

                 BORO GRADE             CUISINE DESCRIPTION
0              Queens   NaN                             NaN
1       Staten Island   NaN                             NaN
2           Manhattan   NaN                             NaN
3              Queens   NaN                             NaN
4           Manhattan   NaN                             NaN
...               ...   ...                             ...
202462          Bronx     C                         African
202463         Queens   NaN                         Chinese
202464       Brooklyn     A  Juice, Smoothies, Fruit Salads
202465          Bronx     A                   Jewish/Kosher
202466      Manhattan     A                      Hamburgers

[202467 rows x 3 columns]

In [18]:
df.sort_values(by="GRADE DATE", ascending = True)

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,...,INSPECTION TYPE,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA,Location Point1
158978,41382158,DUNKIN,Queens,1311020,MERRICK BLVD,NaN,7185274653,Donuts,01/02/2020,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,0,0,NaN,NaN,NaN,NaN,4,NaN,NaN
198731,50012785,MIKE'S BISTRO,Manhattan,127,EAST 54 STREET,"10,022",2127993911,Jewish/Kosher,01/02/2020,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,105,4,"10,000","1,036,480","1,013,090,008",MN19,NaN
179609,50086309,SAMBAK SAMBABJIP,Queens,4111,150TH ST,"11,355",7184611212,Korean,01/02/2020,Violations were cited in the following area(s).,...,Cycle Inspection / Re-inspection,41,-74,407,20,"116,700","4,114,917","4,050,580,016",QN51,NaN
112051,41399316,NEW KING DRAGON RESTAURANT,Bronx,1749,RANDALL AVENUE,"10,473",7183288899,Chinese,01/02/2020,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,209,18,"2,000","2,021,684","2,035,550,006",BX09,NaN
198709,41559330,LA PALMA RESTAURANT OF FAR ROCKAWAY,Queens,1037,BEACH 20 STREET,"11,691",7184711223,Latin American,01/02/2020,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,414,31,"100,802","4,300,149","4,157,040,060",QN15,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202454,50055399,MCDONALD'S,Manhattan,490,8 AVENUE,"10,001",9142774800,Hamburgers,07/30/2021,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,105,3,"10,900","1,014,420","1,007,840,080",MN17,NaN
202457,50097986,BAODEGA,Manhattan,7,WEST 20 STREET,"10,011",6463706034,Chinese,11/14/2019,Establishment Closed by DOHMH. Violations were...,...,Pre-permit (Operational) / Re-inspection,41,-74,105,3,"5,400","1,015,497","1,008,220,029",MN13,NaN
202459,50053321,KUNGFU KITCHEN,Manhattan,610,8 AVENUE,"10,018",2129511935,Chinese,08/09/2022,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,105,3,"11,300","1,014,514","1,007,890,082",MN17,NaN
202461,50124778,URBAN AIR ADVENTURE,Brooklyn,4422,2 AVENUE,"11,232",8453043675,American,11/03/2022,Violations were cited in the following area(s).,...,Pre-permit (Non-operational) / Initial Inspection,41,-74,307,38,"1,800","3,323,423","3,007,350,080",BK32,NaN
202463,50056578,96 FAVOR TASTE RESTAURANT,Queens,13541,37TH AVE,"11,354",7184609699,Chinese,01/28/2020,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,407,20,"86,900","4,584,155","4,049,710,059",QN22,NaN

In [19]:
df.GRADE.unique()

array([nan, 'A', 'Z', 'N', 'C', 'P', 'B'], dtype=object)

In [20]:
df_manhattan = df.query('BORO == "Manhattan"')
df_manhattan

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,...,INSPECTION TYPE,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA,Location Point1
2,50128941,Londel's Supper Club,Manhattan,2620,FREDERICK DOUGLASS BOULEVARD,NaN,2122340601,NaN,01/01/1900,NaN,...,NaN,0,0,NaN,NaN,NaN,NaN,1,NaN,NaN
4,50115776,DISCOVERY,Manhattan,230,PARK AVE S,"10,003",7043286907,NaN,01/01/1900,NaN,...,NaN,41,-74,105,2,"5,200","1,016,152","1,008,470,040",MN13,NaN
5,50129399,OURT BOX CAFE,Manhattan,2144,5 AVENUE,"10,037",9176974757,NaN,01/01/1900,NaN,...,NaN,41,-74,110,9,"20,800","1,053,850","1,017,290,035",MN03,NaN
6,50034742,BLUJEEN,Manhattan,2143,FREDERICK DOUGLASS BOULEVARD,NaN,2122561073,American,02/23/2018,Violations were cited in the following area(s).,...,Cycle Inspection / Re-inspection,0,0,NaN,NaN,NaN,NaN,1,NaN,NaN
8,50115513,CAFE REBARY,Manhattan,1071,5 AVENUE,"10,128",7043286907,NaN,01/01/1900,NaN,...,NaN,41,-74,108,4,"15,002","1,046,946","1,015,000,001",MN40,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202456,40994918,KEY BAR,Manhattan,432,EAST 13 STREET,"10,009",2124783021,American,11/12/2022,Violations were cited in the following area(s).,...,Cycle Inspection / Re-inspection,41,-74,103,2,"3,400","1,005,989","1,004,400,024",MN22,NaN
202457,50097986,BAODEGA,Manhattan,7,WEST 20 STREET,"10,011",6463706034,Chinese,11/14/2019,Establishment Closed by DOHMH. Violations were...,...,Pre-permit (Operational) / Re-inspection,41,-74,105,3,"5,400","1,015,497","1,008,220,029",MN13,NaN
202458,50100861,CAPITAL RESTAURANT,Manhattan,4933,BROADWAY,"10,034",2129425090,American,02/09/2023,Violations were cited in the following area(s).,...,Cycle Inspection / Re-inspection,41,-74,112,10,"29,500","1,064,984","1,022,410,024",MN01,NaN
202459,50053321,KUNGFU KITCHEN,Manhattan,610,8 AVENUE,"10,018",2129511935,Chinese,08/09/2022,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,105,3,"11,300","1,014,514","1,007,890,082",MN17,NaN
202466,50099700,CHECKERS,Manhattan,23,SAINT JAMES PLACE,"10,038",2125878870,Hamburgers,01/30/2020,Violations were cited in the following area(s).,...,Pre-permit (Operational) / Re-inspection,41,-74,103,1,"2,500","1,077,417","1,001,110,100",MN27,NaN

In [21]:
df.query("GRADE == 'A' & BORO == 'Manhattan'")

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,...,INSPECTION TYPE,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA,Location Point1
6,50034742,BLUJEEN,Manhattan,2143,FREDERICK DOUGLASS BOULEVARD,NaN,2122561073,American,02/23/2018,Violations were cited in the following area(s).,...,Cycle Inspection / Re-inspection,0,0,NaN,NaN,NaN,NaN,1,NaN,NaN
38,50007606,Bar B,Manhattan,84,7 AVENUE,"10,011",2122291888,Italian,06/06/2019,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,104,3,"8,100","1,013,775","1,007,650,035",MN13,NaN
167,50075375,ATOMIC WINGS,Manhattan,2090,FREDERICK DOUGLASS BOULEVARD,NaN,2126662904,Chicken,10/05/2022,Violations were cited in the following area(s).,...,Cycle Inspection / Re-inspection,0,0,NaN,NaN,NaN,NaN,1,NaN,NaN
180,50044483,EXCUSE MY FRENCH,Manhattan,96,ORCHARD STREET,"10,002",2127809600,French,01/21/2020,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,103,1,"1,800","1,005,285","1,004,090,002",MN27,NaN
201,41545370,"SHRINE, YATENGA",Manhattan,22712269,7 AVENUE,NaN,2126907807,African,02/09/2023,Violations were cited in the following area(s).,...,Cycle Inspection / Re-inspection,0,0,NaN,NaN,NaN,NaN,1,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202441,41591687,PIZZARTE,Manhattan,69,WEST 55 STREET,"10,019",2122473936,Italian,02/16/2023,Violations were cited in the following area(s).,...,Cycle Inspection / Re-inspection,41,-74,105,4,"10,400","1,084,504","1,012,710,106",MN17,NaN
202443,50099005,Momentea,Manhattan,213,WEST 40 STREET,"10,018",5164262270,Asian/Asian Fusion,11/29/2022,Violations were cited in the following area(s).,...,Cycle Inspection / Re-inspection,41,-74,105,3,"11,300","1,024,645","1,010,120,025",MN17,NaN
202451,40785565,BILLYMARKS WEST,Manhattan,332,9 AVENUE,"10,001",2126290118,American,09/09/2022,Violations were cited in the following area(s).,...,Cycle Inspection / Re-inspection,41,-74,104,3,"9,700","1,013,464","1,007,530,001",MN13,NaN
202452,40645418,IBM EXECUTIVE DINING ROOM,Manhattan,590,MADISON AVENUE,"10,022",2128211757,American,06/16/2022,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,105,4,"11,202","1,035,778","1,012,920,015",MN17,NaN
202466,50099700,CHECKERS,Manhattan,23,SAINT JAMES PLACE,"10,038",2125878870,Hamburgers,01/30/2020,Violations were cited in the following area(s).,...,Pre-permit (Operational) / Re-inspection,41,-74,103,1,"2,500","1,077,417","1,001,110,100",MN27,NaN

In [22]:
df_queens = df.query('BORO == "Queens"')
df_queens

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,...,INSPECTION TYPE,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA,Location Point1
0,50113925,BAD HABITS,Queens,3203,BROADWAY,"11,106",3477385989,NaN,01/01/1900,NaN,...,NaN,41,-74,401,22,"6,100","4,008,406","4,006,140,008",QN70,NaN
3,50125033,NaN,Queens,8609,ROOSEVELT AVE,"11,372",3477715709,NaN,01/01/1900,NaN,...,NaN,41,-74,403,21,"27,900","4,036,259","4,014,740,037",QN28,NaN
7,50122265,90TH BAKERY,Queens,3763,90TH ST,"11,372",3478453942,NaN,01/01/1900,NaN,...,NaN,41,-74,403,21,"27,500","4,036,372","4,014,780,046",QN28,NaN
9,50105108,NEW FORTUNE GARDEN,Queens,69-49,GRAND AVENUE,"11,378",3474597924,NaN,01/01/1900,NaN,...,NaN,41,-74,405,30,"49,302","4,058,565","4,025,010,039",QN30,NaN
14,50119433,NaN,Queens,4009,BELL BLVD,"11,361",9176599287,NaN,01/01/1900,NaN,...,NaN,41,-74,411,19,"112,300","4,138,269","4,062,880,007",QN46,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202424,50124524,SWEETS OF NY,Queens,9402,SUTPHIN BLVD,"11,435",3476847738,American,10/24/2022,Violations were cited in the following area(s).,...,Pre-permit (Operational) / Initial Inspection,41,-74,412,27,"20,800","4,213,954","4,099,930,018",QN61,NaN
202431,50066991,JOHN BROWN,Queens,2716,40TH AVE,"11,101",9177483218,American,08/27/2019,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,401,26,"3,300","4,531,204","4,004,050,026",QN68,NaN
202435,41515015,TAGLIARE PIZZA DELTA TERMINAL,Queens,0,LAGUARDIA AIRPORT,"11,369",2159970667,American,06/21/2018,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,480,21,"33,100","4,000,000","4,009,260,001",QN98,NaN
202446,41531279,GREENPOINT LOUNGE,Queens,4322,GREENPOINT AVENUE,"11,104",7187067825,Irish,08/29/2022,Violations were cited in the following area(s).,...,Cycle Inspection / Re-inspection,41,-74,402,26,"18,502","4,002,115","4,001,730,028",QN31,NaN
202463,50056578,96 FAVOR TASTE RESTAURANT,Queens,13541,37TH AVE,"11,354",7184609699,Chinese,01/28/2020,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,407,20,"86,900","4,584,155","4,049,710,059",QN22,NaN

In [23]:
df.query("GRADE == 'A' & BORO == 'Queens'")

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,...,INSPECTION TYPE,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA,Location Point1
151,50033106,EL AUTENTICO,Queens,4720,BROADWAY,"11,103",7187770333,Latin American,05/28/2019,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,401,26,"16,100","4,013,131","4,007,230,042",QN70,NaN
163,40781412,GAUDIO'S PIZZERIA,Queens,4013,30 AVENUE,"11,103",7187212882,Pizza,02/08/2022,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,401,22,"14,700","4,010,804","4,006,630,043",QN70,NaN
204,41643074,CASA ENRIQUE,Queens,548,49 AVENUE,"11,101",3474486040,Mexican,02/28/2020,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,402,26,700,"4,000,145","4,000,320,048",QN31,NaN
217,41004767,SUBWAY,Queens,360305,31 STREET,NaN,7183615277,Sandwiches,11/26/2021,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,0,0,NaN,NaN,NaN,NaN,4,NaN,NaN
237,41676423,TAJADAS BAKERY & RESTAURANT,Queens,9705,JAMAICA AVENUE,"11,421",7188460101,Latin American,01/24/2022,Violations were cited in the following area(s).,...,Cycle Inspection / Re-inspection,41,-74,409,32,"2,200","4,182,708","4,088,920,262",QN53,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202366,40550150,AKIYAMA JAPANESE RESTAURANT,Queens,132-16,14 AVENUE,"11,356",7187470529,Japanese,04/13/2023,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,407,19,"94,500","4,098,565","4,041,000,001",QN49,NaN
202394,40927789,THE BAYHOUSE,Queens,500,BAYSIDE DRIVE,"11,697",7183189660,American,05/09/2019,Violations were cited in the following area(s).,...,Cycle Inspection / Re-inspection,41,-74,414,32,"91,601","4,464,779","4,163,500,300",QN10,NaN
202402,50108145,HOMEMADE TAQUERIA,Queens,24773,JERICHO TPKE,"11,426",3478948860,Mexican,03/08/2023,Violations were cited in the following area(s).,...,Cycle Inspection / Re-inspection,41,-74,413,23,"161,700","4,176,966","4,086,620,033",QN43,NaN
202422,50091173,CHEN KING WOK,Queens,14616,JAMAICA AVE,"11,435",7187395888,Chinese,12/06/2019,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,412,24,"21,200","4,213,896","4,099,870,013",QN61,NaN
202435,41515015,TAGLIARE PIZZA DELTA TERMINAL,Queens,0,LAGUARDIA AIRPORT,"11,369",2159970667,American,06/21/2018,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,480,21,"33,100","4,000,000","4,009,260,001",QN98,NaN

In [24]:
df_brooklyn = df.query('BORO == "Brooklyn"')
df_brooklyn

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,...,INSPECTION TYPE,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA,Location Point1
11,50104879,TRINI GIRL WEST INDIAN CUISINE,Brooklyn,628,NOSTRAND AVENUE,"11,216",3472406999,NaN,01/01/1900,NaN,...,NaN,41,-74,308,36,"31,500","3,030,004","3,012,060,045",BK61,NaN
13,50018440,POPPY'S,Brooklyn,189,COLUMBIA STREET,"11,231",6464592716,American,08/12/2021,Violations were cited in the following area(s).,...,Administrative Miscellaneous / Re-inspection,41,-74,306,39,"5,100","3,004,081","3,003,300,009",BK33,NaN
15,50120059,SUPERIOR WONTON NOODLE,Brooklyn,2145,86 STREET,"11,214",9179578383,NaN,01/01/1900,NaN,...,NaN,41,-74,311,47,"29,000","3,165,903","3,063,470,059",BK28,NaN
19,50114881,CRAB HOUSE BROOKLYN,Brooklyn,1223,SURF AVENUE,"11,224",6463383315,NaN,01/01/1900,NaN,...,NaN,41,-74,313,47,"35,000","3,196,563","3,072,660,261",BK23,NaN
29,50105196,AREA 53 NYC,Brooklyn,1,OAK STREET,"11,222",7185221267,NaN,01/01/1900,NaN,...,NaN,41,-74,301,33,"56,100","3,416,853","3,025,670,001",BK76,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202453,40622348,P&S BAKERY RESTAURANT,Brooklyn,917,UTICA AVENUE,"11,203",7184852020,Caribbean,03/07/2023,Violations were cited in the following area(s).,...,Cycle Inspection / Re-inspection,41,-74,317,45,"86,200","3,102,885","3,046,980,051",BK96,NaN
202455,50017284,SWEETGREEN,Brooklyn,162,NORTH 4 STREET,"11,211",3479873865,Salads,08/01/2019,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,301,34,"55,300","3,062,371","3,023,527,501",BK73,NaN
202460,50101281,BLUE FIN BAR & GRILL,Brooklyn,633,NOSTRAND AVENUE,"11,216",3473515275,Seafood,02/07/2023,Violations were cited in the following area(s).,...,Cycle Inspection / Re-inspection,41,-74,308,36,"31,500","3,030,702","3,012,200,001",BK61,NaN
202461,50124778,URBAN AIR ADVENTURE,Brooklyn,4422,2 AVENUE,"11,232",8453043675,American,11/03/2022,Violations were cited in the following area(s).,...,Pre-permit (Non-operational) / Initial Inspection,41,-74,307,38,"1,800","3,323,423","3,007,350,080",BK32,NaN
202464,50065986,TWISTED ROOTZ,Brooklyn,7905,FLATLANDS AVENUE,"11,236",3476737537,"Juice, Smoothies, Fruit Salads",05/13/2022,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,318,46,"95,000","3,396,494","3,080,000,108",BK50,NaN

In [25]:
df.query("GRADE == 'A' & BORO == 'Brooklyn'")

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,...,INSPECTION TYPE,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA,Location Point1
54,50065978,New China,Brooklyn,6218,11 AVENUE,"11,219",6462038509,Chinese,06/16/2022,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,310,43,"21,200","3,141,490","3,057,300,043",BK30,NaN
120,50086128,ORCHID TEA CAFE,Brooklyn,4602,7 AVENUE,"11,220",9173026883,Coffee/Tea,10/31/2022,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,307,38,"9,600","3,011,989","3,007,580,038",BK34,NaN
168,41263597,PATRIZIA'S,Brooklyn,35,BROADWAY,"11,249",7182189272,Italian,11/08/2019,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,301,33,"54,900","3,063,642","3,024,690,001",BK73,NaN
206,50079299,TEXAS CHICKEN AND BURGERS,Brooklyn,1000,CONEY ISLAND AVENUE,"11,230",7186900306,Chicken,02/16/2022,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,314,40,"48,200","3,128,005","3,054,250,085",BK42,NaN
216,50045635,STATUS Q,Brooklyn,8218,3 AVENUE,"11,209",6466644665,American,10/15/2019,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,310,47,"6,200","3,152,045","3,060,060,044",BK31,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202411,41116575,GENEROSO BAKERY,Brooklyn,5812,5 AVENUE,"11,220",7184920895,Bakery Products/Desserts,01/29/2020,Violations were cited in the following area(s).,...,Cycle Inspection / Re-inspection,41,-74,307,38,"7,400","3,016,008","3,008,550,041",BK32,NaN
202420,41405662,FARRELLS,Brooklyn,215,PROSPECT PARK WEST,"11,215",7187888779,American,03/11/2022,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,307,39,"16,900","3,026,942","3,011,100,009",BK40,NaN
202427,41092640,STOLOVAYA,Brooklyn,813,AVENUE U,"11,223",7187870120,Russian,09/24/2019,Violations were cited in the following area(s).,...,Cycle Inspection / Re-inspection,41,-74,315,47,"39,400","3,192,159","3,071,110,043",BK25,NaN
202455,50017284,SWEETGREEN,Brooklyn,162,NORTH 4 STREET,"11,211",3479873865,Salads,08/01/2019,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,301,34,"55,300","3,062,371","3,023,527,501",BK73,NaN
202464,50065986,TWISTED ROOTZ,Brooklyn,7905,FLATLANDS AVENUE,"11,236",3476737537,"Juice, Smoothies, Fruit Salads",05/13/2022,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,318,46,"95,000","3,396,494","3,080,000,108",BK50,NaN

In [26]:
df_si = df.query('BORO == "Staten Island"')
df_si

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,...,INSPECTION TYPE,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA,Location Point1
1,50132324,NaN,Staten Island,81,WINANT PLACE,"10,309",9960317,NaN,01/01/1900,NaN,...,NaN,41,-74,503,51,"22,600","5,095,694","5,074,000,142",SI11,NaN
10,50128591,NaN,Staten Island,730A,PORT RICHMOND AVENUE,"10,302",6464098586,NaN,01/01/1900,NaN,...,NaN,41,-74,501,49,"24,700","5,155,092","5,011,390,001",SI28,NaN
20,50127844,ROUND PIE PIZZA COMPANY,Staten Island,1919,HYLAN BOULEVARD,"10,305",7183180000,NaN,01/01/1900,NaN,...,NaN,41,-74,502,50,"11,401","5,095,444","5,035,510,140",SI36,NaN
53,50133898,BROOKLYN ITALIAN HEROES,Staten Island,829,ANNADALE ROAD,"10,312",3477553334,NaN,01/01/1900,NaN,...,NaN,41,-74,503,51,"17,005","5,080,059","5,062,250,015",SI01,NaN
59,50122024,STATEN ISLAND FERRY HAWKS,Staten Island,75,RICHMOND TERRACE,"10,301",9172843261,NaN,01/01/1900,NaN,...,NaN,41,-74,501,49,700,"5,157,467","5,000,020,020",SI22,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202239,50091039,STARBUCKS,Staten Island,55B,RICHMOND TERRACE,"10,301",6103563061,Coffee/Tea,04/08/2022,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,501,49,300,"5,000,000","5,000,020,015",SI22,NaN
202290,50055001,MICHAEL ANTHONY'S,Staten Island,307,NELSON AVENUE,"10,308",7189675031,Italian,09/19/2016,Violations were cited in the following area(s).,...,Pre-permit (Non-operational) / Initial Inspection,41,-74,503,51,"15,603","5,066,207","5,052,080,062",SI54,NaN
202294,50124421,NEW CHOI HEE,Staten Island,426,BAY STREET,"10,304",6464317331,Chinese,03/01/2023,Violations were cited in the following area(s).,...,Cycle Inspection / Re-inspection,41,-74,501,49,"2,100","5,111,979","5,005,070,005",SI37,NaN
202370,50105098,O'HENRY'S PUBLICK HOUSE,Staten Island,10,MINTHORNE STREET,"10,301",9172026226,Irish,12/02/2021,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,501,49,"2,100","5,013,238","5,004,970,009",SI37,NaN
202445,50057703,PACIFIC KITCHEN,Staten Island,4255,AMBOY ROAD,"10,306",7189486888,Asian/Asian Fusion,09/30/2022,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,503,51,"14,604","5,107,700","5,054,600,037",SI54,NaN

In [27]:
df.query("GRADE == 'A' & BORO == 'Staten Island'")

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,...,INSPECTION TYPE,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA,Location Point1
672,40536591,PORTOBELLO CAFE,Staten Island,4221,HYLAND BLVD.,NaN,7183562233,Italian,08/02/2021,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,0,0,NaN,NaN,NaN,NaN,5,NaN,NaN
838,50019096,LUK & BART HOMEMADE FOOD,Staten Island,2960,RICHMOND TERRACE,"10,303",7187206907,Polish,03/29/2018,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,501,49,"22,300","5,113,255","5,012,240,049",SI12,NaN
983,41466245,ATLIXCO BAKERY & DELI,Staten Island,1012,ST PAULS AVE,NaN,7183900171,Mexican,09/11/2019,Violations were cited in the following area(s).,...,Cycle Inspection / Re-inspection,0,0,NaN,NaN,NaN,NaN,5,NaN,NaN
1424,50069610,YUMMY MACHI,Staten Island,2236,FOREST AVENUE,"10,303",7188767788,Japanese,04/03/2023,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,501,49,"30,302","5,156,994","5,016,850,078",SI12,NaN
1475,41646655,BLUE,Staten Island,1115,RICHMOND TERRACE,"10,310",3476093111,Mediterranean,07/15/2019,Violations were cited in the following area(s).,...,Cycle Inspection / Re-inspection,41,-74,501,49,"9,700","5,001,857","5,000,750,059",SI22,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202031,50037436,3 GUYS SUSHI,Staten Island,530,FOREST AVENUE,"10,310",7184470088,Japanese,02/05/2022,Violations were cited in the following area(s).,...,Cycle Inspection / Re-inspection,41,-74,501,49,"12,100","5,007,426","5,002,760,050",SI35,NaN
202035,50108170,HOW GREEK IT IS AND MORE,Staten Island,1734,VICTORY BOULEVARD,"10,314",7182733200,Greek,01/24/2022,Violations were cited in the following area(s).,...,Pre-permit (Operational) / Initial Inspection,41,-74,501,49,"16,901","5,017,875","5,007,070,012",SI07,NaN
202294,50124421,NEW CHOI HEE,Staten Island,426,BAY STREET,"10,304",6464317331,Chinese,03/01/2023,Violations were cited in the following area(s).,...,Cycle Inspection / Re-inspection,41,-74,501,49,"2,100","5,111,979","5,005,070,005",SI37,NaN
202370,50105098,O'HENRY'S PUBLICK HOUSE,Staten Island,10,MINTHORNE STREET,"10,301",9172026226,Irish,12/02/2021,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,501,49,"2,100","5,013,238","5,004,970,009",SI37,NaN
202445,50057703,PACIFIC KITCHEN,Staten Island,4255,AMBOY ROAD,"10,306",7189486888,Asian/Asian Fusion,09/30/2022,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,503,51,"14,604","5,107,700","5,054,600,037",SI54,NaN

In [28]:
df_bronx = df.query('BORO == "Bronx"')
df_bronx

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,...,INSPECTION TYPE,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA,Location Point1
24,41495141,EL CERRITO RESTAURANT,Bronx,11841186,ELDER AVENUE,NaN,7183288553,Mexican,01/30/2023,Violations were cited in the following area(s).,...,Cycle Inspection / Re-inspection,0,0,NaN,NaN,NaN,NaN,2,NaN,NaN
35,50131795,NaN,Bronx,286,EAST 149 STREET,"10,451",9172921908,NaN,01/01/1900,NaN,...,NaN,41,-74,201,17,"6,500","2,000,888","2,023,300,014",BX34,NaN
48,50119357,NaN,Bronx,19,WEST 170 STREET,"10,452",8454698696,NaN,01/01/1900,NaN,...,NaN,41,-74,204,16,"21,900","2,008,312","2,028,570,095",BX26,NaN
66,50120135,NRP Food Solutions LLC,Bronx,1588,WILLIAMSBRG RD,NaN,3478591522,NaN,01/01/1900,NaN,...,NaN,0,0,NaN,NaN,NaN,NaN,2,NaN,NaN
76,50115323,NaN,Bronx,232,EAST 198 STREET,"10,458",7709255678,NaN,01/01/1900,NaN,...,NaN,41,-74,207,15,"40,501","2,017,051","2,033,010,051",BX05,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202434,50046567,PRINCE COFFEE HOUSE,Bronx,2306,ARTHUR AVENUE,"10,458",6468751868,Coffee/Tea,07/05/2022,Violations were cited in the following area(s).,...,Cycle Inspection / Re-inspection,41,-74,206,15,"39,100","2,012,119","2,030,730,001",BX06,NaN
202437,41021766,SORRENTO'S PIZZERIA,Bronx,2004,WILLIAMSBRIDGE ROAD,"10,461",7188287810,Pizza,05/09/2019,Violations were cited in the following area(s).,...,Cycle Inspection / Re-inspection,41,-74,211,13,"28,800","2,049,199","2,043,070,028",BX49,NaN
202442,40699339,NICK GARDEN COFFEE SHOP,Bronx,2953,WEBSTER AVENUE,"10,458",7183652277,American,09/20/2022,Violations were cited in the following area(s).,...,Cycle Inspection / Re-inspection,41,-74,207,11,"41,500","2,016,446","2,032,800,061",BX05,NaN
202462,50045404,AFRICAN HOME RESTAURANT,Bronx,57,EAST TREMONT AVENUE,"10,453",3475677708,African,02/13/2023,Violations were cited in the following area(s).,...,Cycle Inspection / Re-inspection,41,-74,205,14,"24,100","2,007,940","2,028,290,026",BX41,NaN
202465,41519679,RIVERDALE SECOND HELPING,Bronx,3532,JOHNSON AVENUE,"10,463",7185481818,Jewish/Kosher,06/12/2019,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,208,11,"29,500","2,084,151","2,057,930,457",BX29,NaN

In [29]:
df.query("GRADE == 'A' & BORO == 'Bronx'")

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,...,INSPECTION TYPE,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA,Location Point1
143,50040894,DUNKIN,Bronx,1888,EASTCHESTER ROAD,"10,461",6468724159,Donuts,10/23/2019,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,211,13,"29,600","2,046,946","2,042,090,015",BX49,NaN
224,41637595,"DUNKIN', BASKIN ROBBINS",Bronx,4115,3 AVENUE,"10,457",7182945344,Donuts,02/02/2022,Violations were cited in the following area(s).,...,Cycle Inspection / Re-inspection,41,-74,206,15,"39,500","2,009,598","2,029,230,037",BX01,NaN
269,50106639,ADOM CUISINE,Bronx,613,EAST TREMONT AVENUE,"10,457",7182940792,African,01/09/2023,Violations were cited in the following area(s).,...,Cycle Inspection / Re-inspection,41,-74,206,17,"37,300","2,011,993","2,030,680,099",BX17,NaN
305,50091818,DOMINO'S,Bronx,41,EAST 167 STREET,"10,452",3477015337,Pizza,01/12/2023,Violations were cited in the following area(s).,...,Cycle Inspection / Re-inspection,41,-74,204,16,"19,700","2,003,013","2,024,890,033",BX63,NaN
606,41423331,CHOP-STICKS RESTAURANT,Bronx,7718,21 AVENUE,NaN,7182048119,Chinese,05/24/2019,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,0,0,NaN,NaN,NaN,NaN,2,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202348,41004145,GOLDEN KRUST CARIBBEAN BAKERY & GRILL,Bronx,135,GUNHILL ROAD,"10,467",3476028111,Caribbean,09/20/2022,Violations were cited in the following area(s).,...,Cycle Inspection / Re-inspection,41,-74,207,11,"43,100","2,017,801","2,033,280,064",BX43,NaN
202369,50071005,LUCKY HOUSE CHINESE RESTAURANT,Bronx,1151,EAST TREMONT AVENUE,"10,460",3476913389,Chinese,03/13/2019,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,206,15,"22,000","2,042,471","2,040,070,023",BX17,NaN
202379,41468724,CHINA WANG RESTAURANT,Bronx,109,WEST 225 STREET,"10,463",7183643831,Chinese,02/26/2020,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,208,10,"30,900","1,064,669","2,022,150,530",MN01,NaN
202434,50046567,PRINCE COFFEE HOUSE,Bronx,2306,ARTHUR AVENUE,"10,458",6468751868,Coffee/Tea,07/05/2022,Violations were cited in the following area(s).,...,Cycle Inspection / Re-inspection,41,-74,206,15,"39,100","2,012,119","2,030,730,001",BX06,NaN
202465,41519679,RIVERDALE SECOND HELPING,Bronx,3532,JOHNSON AVENUE,"10,463",7185481818,Jewish/Kosher,06/12/2019,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,208,11,"29,500","2,084,151","2,057,930,457",BX29,NaN

In [30]:
df.query("GRADE == 'A' & BORO == 'Bronx'")

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,...,INSPECTION TYPE,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA,Location Point1
143,50040894,DUNKIN,Bronx,1888,EASTCHESTER ROAD,"10,461",6468724159,Donuts,10/23/2019,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,211,13,"29,600","2,046,946","2,042,090,015",BX49,NaN
224,41637595,"DUNKIN', BASKIN ROBBINS",Bronx,4115,3 AVENUE,"10,457",7182945344,Donuts,02/02/2022,Violations were cited in the following area(s).,...,Cycle Inspection / Re-inspection,41,-74,206,15,"39,500","2,009,598","2,029,230,037",BX01,NaN
269,50106639,ADOM CUISINE,Bronx,613,EAST TREMONT AVENUE,"10,457",7182940792,African,01/09/2023,Violations were cited in the following area(s).,...,Cycle Inspection / Re-inspection,41,-74,206,17,"37,300","2,011,993","2,030,680,099",BX17,NaN
305,50091818,DOMINO'S,Bronx,41,EAST 167 STREET,"10,452",3477015337,Pizza,01/12/2023,Violations were cited in the following area(s).,...,Cycle Inspection / Re-inspection,41,-74,204,16,"19,700","2,003,013","2,024,890,033",BX63,NaN
606,41423331,CHOP-STICKS RESTAURANT,Bronx,7718,21 AVENUE,NaN,7182048119,Chinese,05/24/2019,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,0,0,NaN,NaN,NaN,NaN,2,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202348,41004145,GOLDEN KRUST CARIBBEAN BAKERY & GRILL,Bronx,135,GUNHILL ROAD,"10,467",3476028111,Caribbean,09/20/2022,Violations were cited in the following area(s).,...,Cycle Inspection / Re-inspection,41,-74,207,11,"43,100","2,017,801","2,033,280,064",BX43,NaN
202369,50071005,LUCKY HOUSE CHINESE RESTAURANT,Bronx,1151,EAST TREMONT AVENUE,"10,460",3476913389,Chinese,03/13/2019,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,206,15,"22,000","2,042,471","2,040,070,023",BX17,NaN
202379,41468724,CHINA WANG RESTAURANT,Bronx,109,WEST 225 STREET,"10,463",7183643831,Chinese,02/26/2020,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,208,10,"30,900","1,064,669","2,022,150,530",MN01,NaN
202434,50046567,PRINCE COFFEE HOUSE,Bronx,2306,ARTHUR AVENUE,"10,458",6468751868,Coffee/Tea,07/05/2022,Violations were cited in the following area(s).,...,Cycle Inspection / Re-inspection,41,-74,206,15,"39,100","2,012,119","2,030,730,001",BX06,NaN
202465,41519679,RIVERDALE SECOND HELPING,Bronx,3532,JOHNSON AVENUE,"10,463",7185481818,Jewish/Kosher,06/12/2019,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,208,11,"29,500","2,084,151","2,057,930,457",BX29,NaN

### Count of grades by borough

In [47]:
dfg_bx = df_bronx["GRADE"].value_counts().to_frame()
dfg_bx

   GRADE
A   6173
B   1085
N    770
Z    667
C    473
P     57

In [49]:
dfg_man = df_manhattan["GRADE"].value_counts().to_frame()
dfg_man

   GRADE
A  27148
B   3467
N   2631
Z   2013
C   1845
P    204

In [50]:
dfg_bk = df_brooklyn["GRADE"].value_counts().to_frame()
dfg_bk

   GRADE
A  18169
B   2755
N   1854
Z   1572
C   1412
P    205

In [51]:
dfg_staten = df_si["GRADE"].value_counts().to_frame()
dfg_staten

   GRADE
A   2809
B    318
N    209
Z    155
C    114
P     12

In [70]:
dfg_q = df_queens["GRADE"].value_counts().to_frame()
dfg_q

   GRADE
A  16718
B   2473
N   1725
Z   1567
C   1363
P    144

In [150]:
display(dfg_bx)
display(dfg_man)
display(dfg_bk)
display(dfg_staten)
display(dfg_q)

   GRADE
A   6173
B   1085
N    770
Z    667
C    473
P     57

   GRADE
A  27148
B   3467
N   2631
Z   2013
C   1845
P    204

   GRADE
A  18169
B   2755
N   1854
Z   1572
C   1412
P    205

   GRADE
A   2809
B    318
N    209
Z    155
C    114
P     12

   GRADE
A  16718
B   2473
N   1725
Z   1567
C   1363
P    144

In [72]:
df.groupby(["BORO", "GRADE"])[["CUISINE DESCRIPTION"]].describe()

                    CUISINE DESCRIPTION
                                  count unique                       top  freq
BORO          GRADE
0             A                      18      2                  American    14
Bronx         A                    6173     50                  American   987
              B                    1085     34            Latin American   156
              C                     473     23                 Caribbean    60
              N                     770     28            Latin American    93
              P                      57     16                   Chinese    11
              Z                     667     25            Latin American    78
Brooklyn      A                   18169     79                  American  3094
              B                    2755     57                   Chinese   401
              C                    1412     44                  American   203
              N                    1854     52                  American   362
              P                     205     34                   Chinese    23
              Z                    1572     49                   Chinese   212
Manhattan     A                   27148     83                  American  7373
              B                    3467     59                  American   676
              C                    1845     51                  American   384
              N                    2631     58                  American   638
              P                     204     35                   Chinese    36
              Z                    2013     52                  American   304
Queens        A                   16718     77                  American  3000
              B                    2473     48                   Chinese   412
              C                    1363     40                   Chinese   217
              N                    1725     50                   Chinese   240
              P                     144     27                   Chinese    20
              Z                    1567     40                   Chinese   305
Staten Island A                    2809     50                  American   583
              B                     318     25                  American    67
              C                     114     13                  American    29
              N                     209     18                   Italian    35
              P                      12      6  Bakery Products/Desserts     5
              Z                     155     12                   Chinese    29

In [73]:
df.groupby(["BORO", "CUISINE DESCRIPTION"])[["GRADE"]].describe()

                                  GRADE
                                  count unique top freq
BORO          CUISINE DESCRIPTION
0             American               14      1   A   14
              Hawaiian                4      1   A    4
Bronx         Afghan                  6      1   N    6
              African               128      6   A   60
              American             1259      6   A  987
...                                 ...    ...  ..  ...
Staten Island Tapas                   2      1   A    2
              Tex-Mex                47      3   A   33
              Thai                   21      3   A   16
              Turkish                 6      1   A    6
              Vegetarian              8      2   C    4

[352 rows x 4 columns]

In [74]:
## export to csv for a clean copy of data

df.to_csv("nyc-inspection-analysis.csv", index = False, encoding = "UTF8")

In [75]:
df["CUISINE DESCRIPTION"].value_counts()

American             34482
Chinese              19686
Pizza                12362
Coffee/Tea           12129
Latin American        8158
                     ...
Fruits/Vegetables       22
New French              15
Czech                   12
Armenian                 9
Basque                   9
Name: CUISINE DESCRIPTION, Length: 87, dtype: int64

In [84]:
## group our dataframe by grades (best grade)
grade_df = df.groupby("GRADE")
grade_df

In [88]:
grade_df.get_group("A").head()

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,...,INSPECTION TYPE,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA,Location Point1
6,50034742,BLUJEEN,Manhattan,2143,FREDERICK DOUGLASS BOULEVARD,NaN,2122561073,American,02/23/2018,Violations were cited in the following area(s).,...,Cycle Inspection / Re-inspection,0,0,NaN,NaN,NaN,NaN,1,NaN,NaN
38,50007606,Bar B,Manhattan,84,7 AVENUE,"10,011",2122291888,Italian,06/06/2019,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,104,3,"8,100","1,013,775","1,007,650,035",MN13,NaN
54,50065978,New China,Brooklyn,6218,11 AVENUE,"11,219",6462038509,Chinese,06/16/2022,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,310,43,"21,200","3,141,490","3,057,300,043",BK30,NaN
120,50086128,ORCHID TEA CAFE,Brooklyn,4602,7 AVENUE,"11,220",9173026883,Coffee/Tea,10/31/2022,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,307,38,"9,600","3,011,989","3,007,580,038",BK34,NaN
143,50040894,DUNKIN,Bronx,1888,EASTCHESTER ROAD,"10,461",6468724159,Donuts,10/23/2019,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,211,13,"29,600","2,046,946","2,042,090,015",BX49,NaN

In [89]:
grade_df.get_group("C").head()

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,...,INSPECTION TYPE,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA,Location Point1
191,50053059,THE SHACK,Queens,21232,48TH AVE,"11,364",7185395115,Creole/Cajun,03/05/2020,Establishment re-opened by DOHMH.,...,Cycle Inspection / Reopening Inspection,41,-74,411,23,"143,500","4,461,873","4,073,710,006",QN46,NaN
284,50045404,AFRICAN HOME RESTAURANT,Bronx,57,EAST TREMONT AVENUE,"10,453",3475677708,African,02/13/2023,Violations were cited in the following area(s).,...,Cycle Inspection / Re-inspection,41,-74,205,14,"24,100","2,007,940","2,028,290,026",BX41,NaN
493,41686215,SHUN WANG RESTAURANT,Queens,8125,BROADWAY,"11,373",7187793330,Chinese,11/21/2022,Violations were cited in the following area(s).,...,Cycle Inspection / Re-inspection,41,-74,404,25,"26,902","4,307,385","4,015,097,501",QN29,NaN
634,50061531,RENAISSANCE HARLEM,Manhattan,2245,ADAM CLAYTON POWELL JR BOULEVARD,NaN,3473329231,American,01/12/2023,Violations were cited in the following area(s).,...,Cycle Inspection / Re-inspection,0,0,NaN,NaN,NaN,NaN,1,NaN,NaN
811,40576812,BEL-AIRE DINER,Queens,3191,21 STREET,"11,106",7187213160,American,02/27/2023,Violations were cited in the following area(s).,...,Cycle Inspection / Re-inspection,41,-74,401,22,"7,700","4,006,385","4,005,540,015",QN70,NaN

# Violations codes across businesses

In [90]:
group2 = df[["BORO", "GRADE", "VIOLATION CODE"]]
group2

                 BORO GRADE VIOLATION CODE
0              Queens   NaN            NaN
1       Staten Island   NaN            NaN
2           Manhattan   NaN            NaN
3              Queens   NaN            NaN
4           Manhattan   NaN            NaN
...               ...   ...            ...
202462          Bronx     C            04A
202463         Queens   NaN            10B
202464       Brooklyn     A            10B
202465          Bronx     A            02G
202466      Manhattan     A            02B

[202467 rows x 3 columns]

In [92]:
group2.describe()

             BORO   GRADE VIOLATION CODE
count      202467  100125         196999
unique          6       6            145
top     Manhattan       A            10F
freq        75411   71035          27986

In [98]:
df[["VIOLATION CODE", "VIOLATION DESCRIPTION"]].sample(10)

       VIOLATION CODE                              VIOLATION DESCRIPTION
157786            10B  Anti-siphonage or back-flow prevention device ...
50521             06D  Food contact surface not properly washed, rins...
32570             04K  Evidence of rats or live rats present in facil...
100848            04J  Properly scaled and calibrated thermometer or ...
147390            08A  Establishment is not free of harborage or cond...
185929            08A  Establishment is not free of harborage or cond...
169680            06D  Food contact surface not properly washed, rins...
12102             08C  Pesticide use not in accordance with label or ...
34191             04M  Live roaches present in facility's food and/or...
95318             04L  Evidence of mice or live mice in establishment...

In [99]:
df["VIOLATION CODE"].nunique()

145

In [100]:
df["VIOLATION CODE"].unique()

array([nan, '02B', '22F', '09B', '10J', '20F', '04M', '10C', '22G', '10E',
       '09C', '04L', '09E', '02A', '06F', '18F', '06C', '05A', '15F6',
       '10H', '05B', '15E2', '04A', '04K', '22E', '10I', '06D', '08A',
       '02G', '02C', '04J', '06E', '10F', '10B', '04C', '05D', '28-05',
       '04N', '02H', '10A', '10D', '08C', '06A', '16B', '19-06', '08B',
       '04H', '20E', '04D', '05F', '20A', '19-10', '06B', '20-06',
       '15-27', '20-08', '05H', '22C', '09A', '10G', '03A', '20D',
       '16-02', '03B', '05C', '02I', '20-04', '22A', '20-01', '02D',
       '28-06', '18-01', '03I', '05E', '18-11', '04E', '04O', '06G',
       '06H', '04F', '28-03', '15I', '15F7', '28-01', '04B', '18G',
       '15-42', '19-07', '28-04', '16D', '15-29', '18D', '16-06', '19-05',
       '03C', '16C', '03D', '15E3', '15-37', '18-08', '18-14', '19-04',
       '16A', '15-21', '28-07', '16-04', '15A1', '02F', '18C', '16E',
       '18-12', '15-01', '20-07', '20-05', '16-03', '15L', '16-01',
       '15F1', '03E', '09D', '15-39', '15-36', '04P', '15F2', '18-13',
       '07A', '03G', '19-11', '22B', '19-01', '18B', '03F', '19-08',
       '20C', '15-33', '18-02', '06I', '06J', '15-32', '20-02', '04I',
       '15-22', '15S', '15F8', '17A1', '19-03'], dtype=object)

In [105]:
df.groupby("VIOLATION CODE")

In [120]:
df.groupby("BORO")["VIOLATION CODE"].count().to_frame()

               VIOLATION CODE
BORO
0                          22
Bronx                   18389
Brooklyn                52557
Manhattan               73181
Queens                  46414
Staten Island            6436

In [123]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 202467 entries, 0 to 202466
Data columns (total 27 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   CAMIS                  202467 non-null  int64
 1   DBA                    200754 non-null  object
 2   BORO                   202467 non-null  object
 3   BUILDING               202076 non-null  object
 4   STREET                 202439 non-null  object
 5   ZIPCODE                199669 non-null  float64
 6   PHONE                  202456 non-null  object
 7   CUISINE DESCRIPTION    198175 non-null  object
 8   INSPECTION DATE        202467 non-null  object
 9   ACTION                 198175 non-null  object
 10  VIOLATION CODE         196999 non-null  object
 11  VIOLATION DESCRIPTION  196999 non-null  object
 12  CRITICAL FLAG          202467 non-null  object
 13  SCORE                  191591 non-null  float64
 14  GRADE                  100125 non-null  object
 15  GRADE DATE             92947 non-null   object
 16  RECORD DATE            202467 non-null  object
 17  INSPECTION TYPE        198175 non-null  object
 18  Latitude               202167 non-null  float64
 19  Longitude              202167 non-null  float64
 20  Community Board        199067 non-null  float64
 21  Council District       199067 non-null  float64
 22  Census Tract           199067 non-null  float64
 23  BIN                    198043 non-null  float64
 24  BBL                    201837 non-null  float64
 25  NTA                    199067 non-null  object
 26  Location Point1        0 non-null       float64
dtypes: float64(10), int64(1), object(16)
memory usage: 41.7+ MB

In [124]:
df.describe()

,CAMIS,ZIPCODE,SCORE,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,Location Point1
count,"202,467","199,669","191,591","202,167","202,167","199,067","199,067","199,067","198,043","201,837",0
mean,"47,290,171","10,704",22,40,-73,253,21,"29,915","2,559,049","2,446,582,245",NaN
std,"4,137,438",594,17,5,9,130,16,"31,367","1,339,920","1,332,326,833",NaN
min,"30,075,445","8,512",0,0,-74,101,1,100,"1,000,000",1,NaN
25%,"41,601,438","10,023",11,41,-74,106,4,"8,000","1,050,078","1,010,740,029",NaN
50%,"50,056,256","11,101",18,41,-74,302,20,"17,401","3,018,442","3,006,920,041",NaN
75%,"50,098,909","11,230",29,41,-74,401,34,"42,200","4,003,534","4,002,480,036",NaN
max,"50,135,314","14,228",157,41,0,595,51,"162,100","5,799,501","5,270,000,501",NaN

In [125]:
df["CRITICAL FLAG"]

0         Not Applicable
1         Not Applicable
2         Not Applicable
3         Not Applicable
4         Not Applicable
               ...
202462          Critical
202463      Not Critical
202464      Not Critical
202465          Critical
202466          Critical
Name: CRITICAL FLAG, Length: 202467, dtype: object

In [143]:
df_score = df[["CRITICAL FLAG", "BORO", "GRADE", "SCORE"]]
df_score

         CRITICAL FLAG           BORO GRADE  SCORE
0       Not Applicable         Queens   NaN    NaN
1       Not Applicable  Staten Island   NaN    NaN
2       Not Applicable      Manhattan   NaN    NaN
3       Not Applicable         Queens   NaN    NaN
4       Not Applicable      Manhattan   NaN    NaN
...                ...            ...   ...    ...
202462        Critical          Bronx     C     41
202463    Not Critical         Queens   NaN     16
202464    Not Critical       Brooklyn     A     12
202465        Critical          Bronx     A      9
202466        Critical      Manhattan     A     13

[202467 rows x 4 columns]

In [147]:
df_score.sort_values(by="SCORE", ascending = False)

         CRITICAL FLAG       BORO GRADE  SCORE
54187     Not Critical  Manhattan   NaN    157
175503        Critical  Manhattan   NaN    157
202436    Not Critical   Brooklyn   NaN    157
105799    Not Critical   Brooklyn   NaN    157
131104        Critical   Brooklyn   NaN    157
...                ...        ...   ...    ...
202323    Not Critical  Manhattan   NaN    NaN
202344    Not Critical   Brooklyn   NaN    NaN
202354  Not Applicable     Queens   NaN    NaN
202413    Not Critical   Brooklyn   NaN    NaN
202433    Not Critical  Manhattan   NaN    NaN

[202467 rows x 4 columns]

In [148]:
df.sort_values(by="VIOLATION CODE", ascending = False)

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,...,INSPECTION TYPE,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA,Location Point1
11409,50081606,CROWN FRIED CHICKEN,Queens,16829,HILLSIDE AVE,"11,432",7185235359,Chicken,07/01/2022,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,408,24,"45,400","4,442,232","4,098,410,001",QN35,NaN
92937,50107886,Steve's Original Jerk Chicken,Brooklyn,4902,CHURCH AVENUE,"11,203",3476150399,Caribbean,12/21/2022,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,317,45,"86,000","3,102,819","3,046,970,001",BK91,NaN
169835,50000473,JUAN BAR,Queens,96-15D,ROOSEVELT AVENUE,"11,368",7184240999,Mexican,04/17/2023,Violations were cited in the following area(s).,...,Cycle Inspection / Re-inspection,41,-74,403,21,"37,500","4,430,241","4,017,580,012",QN26,NaN
42068,50116676,PLACES BAR & GRILL,Brooklyn,622,CHESTER STREET,"11,212",9172990429,Caribbean,04/05/2023,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,316,42,"91,600","3,082,771","3,036,240,001",BK81,NaN
12584,50082395,LA GUARDIA CAFE,Queens,9702,23RD AVE,"11,369",7184580001,Spanish,08/05/2022,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,403,21,"35,700","4,023,825","4,010,910,001",QN27,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202037,41657014,PICCOLO CAFE,Manhattan,313,AMSTERDAM AVENUE,"10,023",2128730962,Italian,12/27/2017,No violations were recorded at the time of thi...,...,Administrative Miscellaneous / Initial Inspection,41,-74,107,6,"16,100","1,030,096","1,011,467,504",MN12,NaN
202061,50106449,ALMUSAL,Queens,3370,PRINCE ST,"11,354",9293007077,NaN,01/01/1900,NaN,...,NaN,41,-74,407,20,"86,900","4,308,685","4,049,467,501",QN22,NaN
202106,50129012,NaN,Manhattan,512,WEST 42 STREET,"10,036",9179934001,NaN,01/01/1900,NaN,...,NaN,41,-74,104,3,"11,700","1,026,907","1,010,700,020",MN13,NaN
202230,50117820,MODELLO BAR - BARCLAYS CENTER,Brooklyn,620,ATLANTIC AVENUE,"11,217",9174174384,NaN,01/01/1900,NaN,...,NaN,41,-74,302,35,"12,902","3,398,156","3,011,180,001",BK37,NaN
202354,50134919,CHICK-FIL-A AT QUEENS CENTER MALL,Queens,9015,QUEENS BLVD,"11,373",8649344251,NaN,01/01/1900,NaN,...,NaN,41,-74,404,25,"68,300","4,045,999","4,018,600,100",QN29,NaN

In [151]:
df_main = df[['DBA', 'BORO','CUISINE DESCRIPTION', 'GRADE']]
df_main

,DBA,BORO,CUISINE DESCRIPTION,GRADE
0,BAD HABITS,Queens,NaN,NaN
1,NaN,Staten Island,NaN,NaN
2,Londel's Supper Club,Manhattan,NaN,NaN
3,NaN,Queens,NaN,NaN
4,DISCOVERY,Manhattan,NaN,NaN
...,...,...,...,...
202462,AFRICAN HOME RESTAURANT,Bronx,African,C
202463,96 FAVOR TASTE RESTAURANT,Queens,Chinese,NaN
202464,TWISTED ROOTZ,Brooklyn,"Juice, Smoothies, Fruit Salads",A
202465,RIVERDALE SECOND HELPING,Bronx,Jewish/Kosher,A
202466,CHECKERS,Manhattan,Hamburgers,A

In [154]:
df_main.sample(30)

,DBA,BORO,CUISINE DESCRIPTION,GRADE
163702,MCSORLEY'S OLD ALE HOUSE,Manhattan,Irish,A
47947,TITI WEST INDIAN'S AMERICAN GRILL,Brooklyn,Caribbean,NaN
133537,BAR 212,Queens,American,A
122308,RETAZITOS,Manhattan,Latin American,N
75881,277 PARK AVENUE CAFE',Manhattan,American,A
104553,BLACK STAR BAKERY & CAFE,Queens,Coffee/Tea,A
37695,El BORN,Brooklyn,Spanish,NaN
107527,BAMBU JUICE BAR,Bronx,Latin American,C
60280,JOOY TEA SHOPPE,Brooklyn,Coffee/Tea,NaN
154634,MAD FOR CHICKEN,Queens,Chicken,N
83647,SUBWAY,Manhattan,Sandwiches,A
155072,RUMPUS ROOM,Manhattan,American,A
120811,SAIGUETTE,Manhattan,Southeast Asian,A
186521,BOCCONCINI,Queens,Pizza,A
110182,MAMA PHO/BEDFORD FOOD HALL,Brooklyn,Asian/Asian Fusion,NaN
194215,RICHARD'S DINER,Brooklyn,Caribbean,B
7426,EL SOL DE MEXICO DELI GROCERY,Queens,Mexican,NaN
45677,SUNRISING FOOD HUT RESTAURANT INC,Bronx,Caribbean,A
151551,MASAL CAFE,Brooklyn,Turkish,NaN
199520,MAMA G AFRICAN KITCHEN,Bronx,African,NaN
188507,ROSALIA PIZZA,Queens,Pizza,NaN
130670,DUNKIN,Queens,Donuts,A
48070,MR. Q'S,Bronx,Chinese,B
127405,CHEEBURGER CHEEBURGER,Queens,Hamburgers,A
82541,THE GIBSON,Brooklyn,American,A
192781,FORTUNE COOKIE,Staten Island,Chinese,NaN
109373,JAY'S ROTI HUT,Queens,Caribbean,NaN
131919,THE INWOOD FARM,Manhattan,American,NaN
94799,LA BAGUETTE SHOP,Brooklyn,Bakery Products/Desserts,NaN
7614,MI ESPIGUITA,Queens,Mexican,NaN

## Analysis not finished by 04/27/2023.