# Analysis of restaurant inspections by the New York Department of Health and Mental Hygiene (DOHMH) and grades given by borough

Dataset infromation: https://data.cityofnewyork.us/Health/DOHMH-New-York-City-Restaurant-Inspection-Results/43nn-pn8j

Dataset used for analysis: https://drive.google.com/drive/folders/1uOLuU1D9IlCsumSIV7RJpawCti48gRNz

In [11]:
## import library
import pandas as pd

In [13]:
## display code
pd.options.display.float_format = '{:,.0f}'.format

In [14]:
## read data
df = pd.read_csv("nyc-restaurant-inspection-results.csv")
df

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,...,INSPECTION TYPE,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA,Location Point1
0,50113925,BAD HABITS,Queens,3203,BROADWAY,"11,106",3477385989,NaN,01/01/1900,NaN,...,NaN,41,-74,401,22,"6,100","4,008,406","4,006,140,008",QN70,NaN
1,50132324,NaN,Staten Island,81,WINANT PLACE,"10,309",9960317,NaN,01/01/1900,NaN,...,NaN,41,-74,503,51,"22,600","5,095,694","5,074,000,142",SI11,NaN
2,50128941,Londel's Supper Club,Manhattan,2620,FREDERICK DOUGLASS BOULEVARD,NaN,2122340601,NaN,01/01/1900,NaN,...,NaN,0,0,NaN,NaN,NaN,NaN,1,NaN,NaN
3,50125033,NaN,Queens,8609,ROOSEVELT AVE,"11,372",3477715709,NaN,01/01/1900,NaN,...,NaN,41,-74,403,21,"27,900","4,036,259","4,014,740,037",QN28,NaN
4,50115776,DISCOVERY,Manhattan,230,PARK AVE S,"10,003",7043286907,NaN,01/01/1900,NaN,...,NaN,41,-74,105,2,"5,200","1,016,152","1,008,470,040",MN13,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202462,50045404,AFRICAN HOME RESTAURANT,Bronx,57,EAST TREMONT AVENUE,"10,453",3475677708,African,02/13/2023,Violations were cited in the following area(s).,...,Cycle Inspection / Re-inspection,41,-74,205,14,"24,100","2,007,940","2,028,290,026",BX41,NaN
202463,50056578,96 FAVOR TASTE RESTAURANT,Queens,13541,37TH AVE,"11,354",7184609699,Chinese,01/28/2020,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,407,20,"86,900","4,584,155","4,049,710,059",QN22,NaN
202464,50065986,TWISTED ROOTZ,Brooklyn,7905,FLATLANDS AVENUE,"11,236",3476737537,"Juice, Smoothies, Fruit Salads",05/13/2022,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,318,46,"95,000","3,396,494","3,080,000,108",BK50,NaN
202465,41519679,RIVERDALE SECOND HELPING,Bronx,3532,JOHNSON AVENUE,"10,463",7185481818,Jewish/Kosher,06/12/2019,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,208,11,"29,500","2,084,151","2,057,930,457",BX29,NaN
202466,50099700,CHECKERS,Manhattan,23,SAINT JAMES PLACE,"10,038",2125878870,Hamburgers,01/30/2020,Violations were cited in the following area(s).,...,Pre-permit (Operational) / Re-inspection,41,-74,103,1,"2,500","1,077,417","1,001,110,100",MN27,NaN

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 202467 entries, 0 to 202466
Data columns (total 27 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   CAMIS                  202467 non-null  int64
 1   DBA                    200754 non-null  object
 2   BORO                   202467 non-null  object
 3   BUILDING               202076 non-null  object
 4   STREET                 202439 non-null  object
 5   ZIPCODE                199669 non-null  float64
 6   PHONE                  202456 non-null  object
 7   CUISINE DESCRIPTION    198175 non-null  object
 8   INSPECTION DATE        202467 non-null  object
 9   ACTION                 198175 non-null  object
 10  VIOLATION CODE         196999 non-null  object
 11  VIOLATION DESCRIPTION  196999 non-null  object
 12  CRITICAL FLAG          202467 non-null  object
 13  SCORE                  191591 non-null  float64
 14  GRADE                  100125 non-null  object
 15  GRADE DATE             92947 non-null   object
 16  RECORD DATE            202467 non-null  object
 17  INSPECTION TYPE        198175 non-null  object
 18  Latitude               202167 non-null  float64
 19  Longitude              202167 non-null  float64
 20  Community Board        199067 non-null  float64
 21  Council District       199067 non-null  float64
 22  Census Tract           199067 non-null  float64
 23  BIN                    198043 non-null  float64
 24  BBL                    201837 non-null  float64
 25  NTA                    199067 non-null  object
 26  Location Point1        0 non-null       float64
dtypes: float64(10), int64(1), object(16)
memory usage: 41.7+ MB

In [22]:
df.columns

Index(['CAMIS', 'DBA', 'BORO', 'BUILDING', 'STREET', 'ZIPCODE', 'PHONE',
       'CUISINE DESCRIPTION', 'INSPECTION DATE', 'ACTION', 'VIOLATION CODE',
       'VIOLATION DESCRIPTION', 'CRITICAL FLAG', 'SCORE', 'GRADE',
       'GRADE DATE', 'RECORD DATE', 'INSPECTION TYPE', 'Latitude', 'Longitude',
       'Community Board', 'Council District', 'Census Tract', 'BIN', 'BBL',
       'NTA', 'Location Point1'],
      dtype='object')

In [23]:
list(df.columns)

['CAMIS',
 'DBA',
 'BORO',
 'BUILDING',
 'STREET',
 'ZIPCODE',
 'PHONE',
 'CUISINE DESCRIPTION',
 'INSPECTION DATE',
 'ACTION',
 'VIOLATION CODE',
 'VIOLATION DESCRIPTION',
 'CRITICAL FLAG',
 'SCORE',
 'GRADE',
 'GRADE DATE',
 'RECORD DATE',
 'INSPECTION TYPE',
 'Latitude',
 'Longitude',
 'Community Board',
 'Council District',
 'Census Tract',
 'BIN',
 'BBL',
 'NTA',
 'Location Point1']

In [16]:
## Selection of years to identify inspections

In [24]:
## Grades per borough
boroughs_gb = df.groupby("BORO")
boroughs_gb

In [26]:
type("boroughs_gb")

str

In [31]:
## Amount of grades given by borough
df.groupby("BORO")["BORO"].count()

BORO
0                   65
Bronx            18852
Brooklyn         53883
Manhattan        75411
Queens           47664
Staten Island     6592
Name: BORO, dtype: int64

In [19]:
## Biggest violations
## Biggest violations by borough

In [20]:
## Cuisine with best grades

In [21]:
## Cuisine with worst grades

In [ ]:
## Visualization