# Analysis of restaurant inspections by the New York Department of Health and Mental Hygiene (DOHMH) and grades given by borough

Dataset infromation: https://data.cityofnewyork.us/Health/DOHMH-New-York-City-Restaurant-Inspection-Results/43nn-pn8j

Dataset used for analysis: https://drive.google.com/drive/folders/1uOLuU1D9IlCsumSIV7RJpawCti48gRNz

In [8]:
## import library
import pandas as pd

In [9]:
## display code
pd.options.display.float_format = '{:,.0f}'.format

In [10]:
from IPython.display import display, HTML

css = """
.output {
    flex-direction: row;
}
"""

HTML('<style>{}</style>'.format(css))

In [11]:
## read data
df = pd.read_csv("nyc-grades-results.csv")
df

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,...,INSPECTION TYPE,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA,Location Point1
0,41611669,SMOKING TERRACE,Queens,110-00,ROCKAWAY BOULEVARD,"11,420",7182153308,Bottled Beverages,5/1/12,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,410,32,"86,400","4,457,718","4,115,430,002",QN55,NaN
1,41611669,SMOKING TERRACE,Queens,110-00,ROCKAWAY BOULEVARD,"11,420",7182153308,Bottled Beverages,5/1/12,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,410,32,"86,400","4,457,718","4,115,430,002",QN55,NaN
2,41611669,SMOKING TERRACE,Queens,110-00,ROCKAWAY BOULEVARD,"11,420",7182153308,Bottled Beverages,4/19/13,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,410,32,"86,400","4,457,718","4,115,430,002",QN55,NaN
3,41611669,SMOKING TERRACE,Queens,110-00,ROCKAWAY BOULEVARD,"11,420",7182153308,Bottled Beverages,4/19/13,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,410,32,"86,400","4,457,718","4,115,430,002",QN55,NaN
4,41611669,SMOKING TERRACE,Queens,110-00,ROCKAWAY BOULEVARD,"11,420",7182153308,Bottled Beverages,4/19/13,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,410,32,"86,400","4,457,718","4,115,430,002",QN55,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198169,50104966,LAMBDA LOUNGE,Manhattan,2256,ADAM CLAYTON POWELL JR BOULEVARD,NaN,3478984898,Other,4/22/23,Violations were cited in the following area(s).,...,Smoke-Free Air Act / Initial Inspection,0,0,NaN,NaN,NaN,NaN,1,NaN,NaN
198170,50103415,THE VILLAGE SALOON,Queens,8211,ELIOT AVE,"11,379",7184768444,American,4/22/23,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,405,30,"50,700","4,066,540","4,029,160,030",QN21,NaN
198171,50104966,LAMBDA LOUNGE,Manhattan,2256,ADAM CLAYTON POWELL JR BOULEVARD,NaN,3478984898,Other,4/22/23,Violations were cited in the following area(s).,...,Pre-permit (Operational) / Initial Inspection,0,0,NaN,NaN,NaN,NaN,1,NaN,NaN
198172,50110667,KABAYAN BISTRO LOUNGE & BANQUET,Queens,69-09,ROOSEVELT AVENUE,"11,377",9177414754,Filipino,4/22/23,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,402,26,"26,300","4,029,706","4,012,820,034",QN63,NaN
198173,41241757,THAI MARKET,Manhattan,960,AMSTERDAM AVENUE,"10,025",2122804575,Thai,4/22/23,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,107,7,"19,500","1,056,657","1,018,790,029",MN09,NaN

In [20]:
df.eq("Grade == 'C'")

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,...,INSPECTION TYPE,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA,Location Point1
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198169,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
198170,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
198171,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
198172,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
198173,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [12]:
x = df.query("DBA == 'AFRICAN HOME RESTAURANT'")
x

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,...,INSPECTION TYPE,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA,Location Point1
127606,50045404,AFRICAN HOME RESTAURANT,Bronx,57,EAST TREMONT AVENUE,"10,453",3475677708,African,8/10/22,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,205,14,"24,100","2,007,940","2,028,290,026",BX41,NaN
127692,50045404,AFRICAN HOME RESTAURANT,Bronx,57,EAST TREMONT AVENUE,"10,453",3475677708,African,8/10/22,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,205,14,"24,100","2,007,940","2,028,290,026",BX41,NaN
127777,50045404,AFRICAN HOME RESTAURANT,Bronx,57,EAST TREMONT AVENUE,"10,453",3475677708,African,8/10/22,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,205,14,"24,100","2,007,940","2,028,290,026",BX41,NaN
127811,50045404,AFRICAN HOME RESTAURANT,Bronx,57,EAST TREMONT AVENUE,"10,453",3475677708,African,8/10/22,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,205,14,"24,100","2,007,940","2,028,290,026",BX41,NaN
127894,50045404,AFRICAN HOME RESTAURANT,Bronx,57,EAST TREMONT AVENUE,"10,453",3475677708,African,8/10/22,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,205,14,"24,100","2,007,940","2,028,290,026",BX41,NaN
175155,50045404,AFRICAN HOME RESTAURANT,Bronx,57,EAST TREMONT AVENUE,"10,453",3475677708,African,2/13/23,Violations were cited in the following area(s).,...,Cycle Inspection / Re-inspection,41,-74,205,14,"24,100","2,007,940","2,028,290,026",BX41,NaN
175188,50045404,AFRICAN HOME RESTAURANT,Bronx,57,EAST TREMONT AVENUE,"10,453",3475677708,African,2/13/23,Violations were cited in the following area(s).,...,Cycle Inspection / Re-inspection,41,-74,205,14,"24,100","2,007,940","2,028,290,026",BX41,NaN
175222,50045404,AFRICAN HOME RESTAURANT,Bronx,57,EAST TREMONT AVENUE,"10,453",3475677708,African,2/13/23,Violations were cited in the following area(s).,...,Cycle Inspection / Re-inspection,41,-74,205,14,"24,100","2,007,940","2,028,290,026",BX41,NaN
175442,50045404,AFRICAN HOME RESTAURANT,Bronx,57,EAST TREMONT AVENUE,"10,453",3475677708,African,2/13/23,Violations were cited in the following area(s).,...,Cycle Inspection / Re-inspection,41,-74,205,14,"24,100","2,007,940","2,028,290,026",BX41,NaN
175523,50045404,AFRICAN HOME RESTAURANT,Bronx,57,EAST TREMONT AVENUE,"10,453",3475677708,African,2/13/23,Violations were cited in the following area(s).,...,Cycle Inspection / Re-inspection,41,-74,205,14,"24,100","2,007,940","2,028,290,026",BX41,NaN
175603,50045404,AFRICAN HOME RESTAURANT,Bronx,57,EAST TREMONT AVENUE,"10,453",3475677708,African,2/13/23,Violations were cited in the following area(s).,...,Cycle Inspection / Re-inspection,41,-74,205,14,"24,100","2,007,940","2,028,290,026",BX41,NaN

In [13]:
x[["DBA","VIOLATION CODE", "VIOLATION DESCRIPTION", "INSPECTION DATE", "GRADE DATE", "GRADE"]]

,DBA,VIOLATION CODE,VIOLATION DESCRIPTION,INSPECTION DATE,GRADE DATE,GRADE
127606,AFRICAN HOME RESTAURANT,04N,Filth flies or food/refuse/sewage associated w...,8/10/22,NaN,NaN
127692,AFRICAN HOME RESTAURANT,02G,Cold TCS food item held above 41 °F; smoked or...,8/10/22,NaN,NaN
127777,AFRICAN HOME RESTAURANT,08A,Establishment is not free of harborage or cond...,8/10/22,NaN,NaN
127811,AFRICAN HOME RESTAURANT,10F,Non-food contact surface or equipment made of ...,8/10/22,NaN,NaN
127894,AFRICAN HOME RESTAURANT,02B,Hot TCS food item not held at or above 140 °F.,8/10/22,NaN,NaN
175155,AFRICAN HOME RESTAURANT,02B,Hot TCS food item not held at or above 140 °F.,2/13/23,2/13/23,C
175188,AFRICAN HOME RESTAURANT,04O,Live animal other than fish in tank or service...,2/13/23,2/13/23,C
175222,AFRICAN HOME RESTAURANT,06C,"Food, supplies, and equipment not protected fr...",2/13/23,2/13/23,C
175442,AFRICAN HOME RESTAURANT,02H,"After cooking or removal from hot holding, TCS...",2/13/23,2/13/23,C
175523,AFRICAN HOME RESTAURANT,10F,Non-food contact surface or equipment made of ...,2/13/23,2/13/23,C
175603,AFRICAN HOME RESTAURANT,04A,Food Protection Certificate (FPC) not held by ...,2/13/23,2/13/23,C

In [27]:
df.eq("Grade == 'A'")

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,...,INSPECTION TYPE,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA,Location Point1
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198169,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
198170,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
198171,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
198172,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
198173,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198174 entries, 0 to 198173
Data columns (total 27 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   CAMIS                  198174 non-null  int64
 1   DBA                    198174 non-null  object
 2   BORO                   198174 non-null  object
 3   BUILDING               197825 non-null  object
 4   STREET                 198174 non-null  object
 5   ZIPCODE                195461 non-null  float64
 6   PHONE                  198165 non-null  object
 7   CUISINE DESCRIPTION    198174 non-null  object
 8   INSPECTION DATE        198174 non-null  object
 9   ACTION                 198174 non-null  object
 10  VIOLATION CODE         196998 non-null  object
 11  VIOLATION DESCRIPTION  196998 non-null  object
 12  CRITICAL FLAG          198174 non-null  object
 13  SCORE                  191590 non-null  float64
 14  GRADE                  100125 non-null  object
 15  GRADE DATE             92947 non-null   object
 16  RECORD DATE            198174 non-null  object
 17  INSPECTION TYPE        198174 non-null  object
 18  Latitude               197938 non-null  float64
 19  Longitude              197938 non-null  float64
 20  Community Board        194904 non-null  float64
 21  Council District       194904 non-null  float64
 22  Census Tract           194904 non-null  float64
 23  BIN                    193947 non-null  float64
 24  BBL                    197617 non-null  float64
 25  NTA                    194904 non-null  object
 26  Location Point1        0 non-null       float64
dtypes: float64(10), int64(1), object(16)
memory usage: 40.8+ MB

In [41]:
df.columns

Index(['CAMIS', 'DBA', 'BORO', 'BUILDING', 'STREET', 'ZIPCODE', 'PHONE',
       'CUISINE DESCRIPTION', 'INSPECTION DATE', 'ACTION', 'VIOLATION CODE',
       'VIOLATION DESCRIPTION', 'CRITICAL FLAG', 'SCORE', 'GRADE',
       'GRADE DATE', 'RECORD DATE', 'INSPECTION TYPE', 'Latitude', 'Longitude',
       'Community Board', 'Council District', 'Census Tract', 'BIN', 'BBL',
       'NTA', 'Location Point1'],
      dtype='object')

In [42]:
list(df.columns)

['CAMIS',
 'DBA',
 'BORO',
 'BUILDING',
 'STREET',
 'ZIPCODE',
 'PHONE',
 'CUISINE DESCRIPTION',
 'INSPECTION DATE',
 'ACTION',
 'VIOLATION CODE',
 'VIOLATION DESCRIPTION',
 'CRITICAL FLAG',
 'SCORE',
 'GRADE',
 'GRADE DATE',
 'RECORD DATE',
 'INSPECTION TYPE',
 'Latitude',
 'Longitude',
 'Community Board',
 'Council District',
 'Census Tract',
 'BIN',
 'BBL',
 'NTA',
 'Location Point1']

In [43]:
## Selection of years to identify inspections

In [44]:
## Grades per borough
boroughs_gb = df.groupby("BORO")
boroughs_gb

In [45]:
type("boroughs_gb")

str

In [46]:
## Amount of grades given by borough
df.groupby("BORO")["BORO"].count()

BORO
0                   23
Bronx            18519
Brooklyn         52845
Manhattan        73649
Queens           46681
Staten Island     6457
Name: BORO, dtype: int64

In [47]:
df.groupby(["BORO","INSPECTION TYPE"])["GRADE"].count()

BORO           INSPECTION TYPE
0              Cycle Inspection / Initial Inspection                   15
               Cycle Inspection / Re-inspection                         3
               Inter-Agency Task Force / Initial Inspection             0
Bronx          Administrative Miscellaneous / Compliance Inspection     0
               Administrative Miscellaneous / Initial Inspection        2
                                                                       ..
Staten Island  Smoke-Free Air Act / Initial Inspection                  0
               Smoke-Free Air Act / Limited Inspection                  0
               Smoke-Free Air Act / Re-inspection                       0
               Trans Fat / Initial Inspection                           0
               Trans Fat / Re-inspection                                0
Name: GRADE, Length: 130, dtype: int64

In [48]:
## Biggest violations
## Biggest violations by borough

df.groupby(["BORO","VIOLATION CODE"])["VIOLATION DESCRIPTION"].count()

BORO           VIOLATION CODE
0              02B               1
               02G               1
               04A               1
               04H               4
               04L               1
                                ..
Staten Island  22E               2
               22F               3
               22G               6
               28-03             4
               28-06             7
Name: VIOLATION DESCRIPTION, Length: 590, dtype: int64

In [49]:
## Cuisines
df["CUISINE DESCRIPTION"].count()

198174

In [50]:
list(df["CUISINE DESCRIPTION"].unique())

['Bottled Beverages',
 'Other',
 'American',
 'Caribbean',
 'Mexican',
 'Italian',
 'Latin American',
 'French',
 'Korean',
 'Mediterranean',
 'Frozen Desserts',
 'Tex-Mex',
 'Pizza',
 'Hotdogs',
 'Salads',
 'Bangladeshi',
 'Ethiopian',
 'Coffee/Tea',
 'Japanese',
 'Vegan',
 'Spanish',
 'Donuts',
 'Filipino',
 'Jewish/Kosher',
 'Sandwiches/Salads/Mixed Buffet',
 'Barbecue',
 'Middle Eastern',
 'Continental',
 'Hamburgers',
 'German',
 'Thai',
 'Bagels/Pretzels',
 'Peruvian',
 'Polish',
 'Bakery Products/Desserts',
 'Chicken',
 'Greek',
 'Chinese',
 'Eastern European',
 'Sandwiches',
 'Soups/Salads/Sandwiches',
 'Seafood',
 'African',
 'Indian',
 'Portuguese',
 'Moroccan',
 'Hotdogs/Pretzels',
 'Tapas',
 'Iranian',
 'Irish',
 'Indonesian',
 'Not Listed/Not Applicable',
 'Juice, Smoothies, Fruit Salads',
 'Russian',
 'Steakhouse',
 'Scandinavian',
 'Asian/Asian Fusion',
 'Soul Food',
 'Chinese/Japanese',
 'Turkish',
 'Chinese/Cuban',
 'Hawaiian',
 'Brazilian',
 'Vegetarian',
 'Egyptian',
 'Southeast Asian',
 'Creole/Cajun',
 'Pancakes/Waffles',
 'Soups',
 'Afghan',
 'Pakistani',
 'New American',
 'Fruits/Vegetables',
 'New French',
 'English',
 'Creole',
 'Nuts/Confectionary',
 'Australian',
 'Fusion',
 'Californian',
 'Cajun',
 'Southwestern',
 'Basque',
 'Armenian',
 'Chilean',
 'Czech',
 'Lebanese']

## Cuisine with best & worst grades

In [51]:
group1 = df[["BORO", "GRADE", "CUISINE DESCRIPTION"]]
group1

             BORO GRADE CUISINE DESCRIPTION
0          Queens     A   Bottled Beverages
1          Queens     A   Bottled Beverages
2          Queens   NaN   Bottled Beverages
3          Queens   NaN   Bottled Beverages
4          Queens   NaN   Bottled Beverages
...           ...   ...                 ...
198169  Manhattan   NaN               Other
198170     Queens   NaN            American
198171  Manhattan     A               Other
198172     Queens     N            Filipino
198173  Manhattan     A                Thai

[198174 rows x 3 columns]

In [52]:
df.sort_values(by="GRADE DATE", ascending = True)

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,...,INSPECTION TYPE,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA,Location Point1
656,50001778,MI CASA CANTINA,Queens,NKA,JFK INTERNATIONAL AIRPORT,"11,430",7187514787,Spanish,1/10/17,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,483,28,"71,600","4,000,000","4,142,600,001",QN98,NaN
658,50001778,MI CASA CANTINA,Queens,NKA,JFK INTERNATIONAL AIRPORT,"11,430",7187514787,Spanish,1/10/17,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,483,28,"71,600","4,000,000","4,142,600,001",QN98,NaN
657,50001778,MI CASA CANTINA,Queens,NKA,JFK INTERNATIONAL AIRPORT,"11,430",7187514787,Spanish,1/10/17,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,483,28,"71,600","4,000,000","4,142,600,001",QN98,NaN
655,50057959,FIVE BOROUGH FOOD HALL,Queens,NaN,JFK INTERNATIONAL AIRPORT,"11,430",347_880_00,Other,1/10/17,Violations were cited in the following area(s).,...,Pre-permit (Operational) / Initial Inspection,41,-74,NaN,NaN,NaN,NaN,NaN,NaN,NaN
654,50057959,FIVE BOROUGH FOOD HALL,Queens,NaN,JFK INTERNATIONAL AIRPORT,"11,430",347_880_00,Other,1/10/17,Violations were cited in the following area(s).,...,Pre-permit (Operational) / Initial Inspection,41,-74,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198167,50103415,THE VILLAGE SALOON,Queens,8211,ELIOT AVE,"11,379",7184768444,American,4/22/23,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,405,30,"50,700","4,066,540","4,029,160,030",QN21,NaN
198168,50103415,THE VILLAGE SALOON,Queens,8211,ELIOT AVE,"11,379",7184768444,American,4/22/23,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,405,30,"50,700","4,066,540","4,029,160,030",QN21,NaN
198169,50104966,LAMBDA LOUNGE,Manhattan,2256,ADAM CLAYTON POWELL JR BOULEVARD,NaN,3478984898,Other,4/22/23,Violations were cited in the following area(s).,...,Smoke-Free Air Act / Initial Inspection,0,0,NaN,NaN,NaN,NaN,1,NaN,NaN
198170,50103415,THE VILLAGE SALOON,Queens,8211,ELIOT AVE,"11,379",7184768444,American,4/22/23,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,405,30,"50,700","4,066,540","4,029,160,030",QN21,NaN
198172,50110667,KABAYAN BISTRO LOUNGE & BANQUET,Queens,69-09,ROOSEVELT AVENUE,"11,377",9177414754,Filipino,4/22/23,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,402,26,"26,300","4,029,706","4,012,820,034",QN63,NaN

In [53]:
df.GRADE.unique()

array(['A', nan, 'P', 'B', 'C', 'N', 'Z'], dtype=object)

In [54]:
df_manhattan = df.query('BORO == "Manhattan"')
df_manhattan

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,...,INSPECTION TYPE,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA,Location Point1
9,40944945,Stage 42,Manhattan,422,WEST 42 STREET,"10,036",2125867610,American,9/24/15,Establishment re-opened by DOHMH.,...,Cycle Inspection / Reopening Inspection,41,-74,104,3,"11,500","1,087,184","1,010,517,501",MN15,NaN
13,40944945,Stage 42,Manhattan,422,WEST 42 STREET,"10,036",2125867610,American,10/14/15,Violations were cited in the following area(s).,...,Cycle Inspection / Re-inspection,41,-74,104,3,"11,500","1,087,184","1,010,517,501",MN15,NaN
14,40944945,Stage 42,Manhattan,422,WEST 42 STREET,"10,036",2125867610,American,10/14/15,Violations were cited in the following area(s).,...,Cycle Inspection / Re-inspection,41,-74,104,3,"11,500","1,087,184","1,010,517,501",MN15,NaN
16,50015538,AMERICAN AIRLINES THEATER,Manhattan,227,WEST 42 STREET,"10,036",2125825472,American,11/19/15,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,105,3,"11,900","1,024,683","1,010,140,017",MN17,NaN
17,50015538,AMERICAN AIRLINES THEATER,Manhattan,227,WEST 42 STREET,"10,036",2125825472,American,11/19/15,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,105,3,"11,900","1,024,683","1,010,140,017",MN17,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198165,50104966,LAMBDA LOUNGE,Manhattan,2256,ADAM CLAYTON POWELL JR BOULEVARD,NaN,3478984898,Other,4/22/23,Violations were cited in the following area(s).,...,Smoke-Free Air Act / Initial Inspection,0,0,NaN,NaN,NaN,NaN,1,NaN,NaN
198166,50084224,"HALL , ODO",Manhattan,17,WEST 20 STREET,"10,011",9175797290,Japanese,4/22/23,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,105,3,"5,400","1,015,493","1,008,220,023",MN13,NaN
198169,50104966,LAMBDA LOUNGE,Manhattan,2256,ADAM CLAYTON POWELL JR BOULEVARD,NaN,3478984898,Other,4/22/23,Violations were cited in the following area(s).,...,Smoke-Free Air Act / Initial Inspection,0,0,NaN,NaN,NaN,NaN,1,NaN,NaN
198171,50104966,LAMBDA LOUNGE,Manhattan,2256,ADAM CLAYTON POWELL JR BOULEVARD,NaN,3478984898,Other,4/22/23,Violations were cited in the following area(s).,...,Pre-permit (Operational) / Initial Inspection,0,0,NaN,NaN,NaN,NaN,1,NaN,NaN
198173,41241757,THAI MARKET,Manhattan,960,AMSTERDAM AVENUE,"10,025",2122804575,Thai,4/22/23,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,107,7,"19,500","1,056,657","1,018,790,029",MN09,NaN

In [55]:
df.query("GRADE == 'A' & BORO == 'Manhattan'")

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,...,INSPECTION TYPE,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA,Location Point1
13,40944945,Stage 42,Manhattan,422,WEST 42 STREET,"10,036",2125867610,American,10/14/15,Violations were cited in the following area(s).,...,Cycle Inspection / Re-inspection,41,-74,104,3,"11,500","1,087,184","1,010,517,501",MN15,NaN
14,40944945,Stage 42,Manhattan,422,WEST 42 STREET,"10,036",2125867610,American,10/14/15,Violations were cited in the following area(s).,...,Cycle Inspection / Re-inspection,41,-74,104,3,"11,500","1,087,184","1,010,517,501",MN15,NaN
16,50015538,AMERICAN AIRLINES THEATER,Manhattan,227,WEST 42 STREET,"10,036",2125825472,American,11/19/15,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,105,3,"11,900","1,024,683","1,010,140,017",MN17,NaN
17,50015538,AMERICAN AIRLINES THEATER,Manhattan,227,WEST 42 STREET,"10,036",2125825472,American,11/19/15,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,105,3,"11,900","1,024,683","1,010,140,017",MN17,NaN
19,50015171,NEW AMSTERDAM THEATER,Manhattan,214,WEST 42 STREET,"10,036",2125825472,American,11/20/15,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,105,3,"11,300","1,024,660","1,010,130,039",MN17,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198156,50084224,"HALL , ODO",Manhattan,17,WEST 20 STREET,"10,011",9175797290,Japanese,4/22/23,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,105,3,"5,400","1,015,493","1,008,220,023",MN13,NaN
198161,50131869,ESO PESCO,Manhattan,2906,FREDERICK DOUGLASS BOULEVARD,NaN,9179757113,Seafood,4/22/23,Violations were cited in the following area(s).,...,Pre-permit (Operational) / Initial Inspection,0,0,NaN,NaN,NaN,NaN,1,NaN,NaN
198166,50084224,"HALL , ODO",Manhattan,17,WEST 20 STREET,"10,011",9175797290,Japanese,4/22/23,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,105,3,"5,400","1,015,493","1,008,220,023",MN13,NaN
198171,50104966,LAMBDA LOUNGE,Manhattan,2256,ADAM CLAYTON POWELL JR BOULEVARD,NaN,3478984898,Other,4/22/23,Violations were cited in the following area(s).,...,Pre-permit (Operational) / Initial Inspection,0,0,NaN,NaN,NaN,NaN,1,NaN,NaN
198173,41241757,THAI MARKET,Manhattan,960,AMSTERDAM AVENUE,"10,025",2122804575,Thai,4/22/23,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,107,7,"19,500","1,056,657","1,018,790,029",MN09,NaN

In [56]:
df_queens = df.query('BORO == "Queens"')
df_queens

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,...,INSPECTION TYPE,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA,Location Point1
0,41611669,SMOKING TERRACE,Queens,110-00,ROCKAWAY BOULEVARD,"11,420",7182153308,Bottled Beverages,5/1/12,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,410,32,"86,400","4,457,718","4,115,430,002",QN55,NaN
1,41611669,SMOKING TERRACE,Queens,110-00,ROCKAWAY BOULEVARD,"11,420",7182153308,Bottled Beverages,5/1/12,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,410,32,"86,400","4,457,718","4,115,430,002",QN55,NaN
2,41611669,SMOKING TERRACE,Queens,110-00,ROCKAWAY BOULEVARD,"11,420",7182153308,Bottled Beverages,4/19/13,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,410,32,"86,400","4,457,718","4,115,430,002",QN55,NaN
3,41611669,SMOKING TERRACE,Queens,110-00,ROCKAWAY BOULEVARD,"11,420",7182153308,Bottled Beverages,4/19/13,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,410,32,"86,400","4,457,718","4,115,430,002",QN55,NaN
4,41611669,SMOKING TERRACE,Queens,110-00,ROCKAWAY BOULEVARD,"11,420",7182153308,Bottled Beverages,4/19/13,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,410,32,"86,400","4,457,718","4,115,430,002",QN55,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198163,50110667,KABAYAN BISTRO LOUNGE & BANQUET,Queens,69-09,ROOSEVELT AVENUE,"11,377",9177414754,Filipino,4/22/23,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,402,26,"26,300","4,029,706","4,012,820,034",QN63,NaN
198167,50103415,THE VILLAGE SALOON,Queens,8211,ELIOT AVE,"11,379",7184768444,American,4/22/23,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,405,30,"50,700","4,066,540","4,029,160,030",QN21,NaN
198168,50103415,THE VILLAGE SALOON,Queens,8211,ELIOT AVE,"11,379",7184768444,American,4/22/23,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,405,30,"50,700","4,066,540","4,029,160,030",QN21,NaN
198170,50103415,THE VILLAGE SALOON,Queens,8211,ELIOT AVE,"11,379",7184768444,American,4/22/23,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,405,30,"50,700","4,066,540","4,029,160,030",QN21,NaN
198172,50110667,KABAYAN BISTRO LOUNGE & BANQUET,Queens,69-09,ROOSEVELT AVENUE,"11,377",9177414754,Filipino,4/22/23,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,402,26,"26,300","4,029,706","4,012,820,034",QN63,NaN

In [57]:
df.query("GRADE == 'A' & BORO == 'Queens'")

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,...,INSPECTION TYPE,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA,Location Point1
0,41611669,SMOKING TERRACE,Queens,110-00,ROCKAWAY BOULEVARD,"11,420",7182153308,Bottled Beverages,5/1/12,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,410,32,"86,400","4,457,718","4,115,430,002",QN55,NaN
1,41611669,SMOKING TERRACE,Queens,110-00,ROCKAWAY BOULEVARD,"11,420",7182153308,Bottled Beverages,5/1/12,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,410,32,"86,400","4,457,718","4,115,430,002",QN55,NaN
6,41611669,SMOKING TERRACE,Queens,110-00,ROCKAWAY BOULEVARD,"11,420",7182153308,Bottled Beverages,6/15/13,Violations were cited in the following area(s).,...,Cycle Inspection / Re-inspection,41,-74,410,32,"86,400","4,457,718","4,115,430,002",QN55,NaN
7,41611669,SMOKING TERRACE,Queens,110-00,ROCKAWAY BOULEVARD,"11,420",7182153308,Bottled Beverages,11/15/13,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,410,32,"86,400","4,457,718","4,115,430,002",QN55,NaN
49,41611709,EQUESTRIS,Queens,110-00,ROCKAWAY BOULEVARD,"11,420",7182153308,American,3/26/16,Violations were cited in the following area(s).,...,Cycle Inspection / Re-inspection,41,-74,410,32,"86,400","4,457,718","4,115,430,002",QN55,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198101,50069187,BLACK STAR BAKERY & CAFE,Queens,210,50TH AVE,"11,101",7184339189,Coffee/Tea,4/21/23,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,402,26,100,"4,594,739","4,000,160,008",QN31,NaN
198106,50107393,CARDAMOM INDIAN CUISINE,Queens,4345,43RD ST,"11,104",7187068718,Indian,4/21/23,Violations were cited in the following area(s).,...,Pre-permit (Operational) / Re-inspection,41,-74,402,26,"18,300","4,001,925","4,001,620,008",QN31,NaN
198141,50010321,MCDONALD'S,Queens,31-67,STEINWAY STREET,"11,103",7182671343,Hamburgers,4/21/23,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,401,22,"15,500","4,011,102","4,006,780,013",QN70,NaN
198146,50078074,BURGER KING,Queens,19414,LINDEN BLVD,"11,412",9174951640,Hamburgers,4/21/23,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,412,27,"39,400","4,271,595","4,126,100,015",QN08,NaN
198160,50111258,ICE CREAM WINDOW,Queens,682,WOODWARD AVENUE,"11,385",2129298064,American,4/22/23,Violations were cited in the following area(s).,...,Pre-permit (Operational) / Initial Inspection,41,-74,405,34,"54,900","4,082,943","4,034,680,043",QN20,NaN

In [58]:
df_brooklyn = df.query('BORO == "Brooklyn"')
df_brooklyn

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,...,INSPECTION TYPE,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA,Location Point1
8,50041177,FIRSTLIVE STUDIO,Brooklyn,219,CENTRAL AVENUE,"11,221",9292109055,Other,9/24/15,Violations were cited in the following area(s).,...,Pre-permit (Non-operational) / Initial Inspection,41,-74,304,37,"42,100","3,074,096","3,032,550,001",BK78,NaN
10,50041177,FIRSTLIVE STUDIO,Brooklyn,219,CENTRAL AVENUE,"11,221",9292109055,Other,9/24/15,Violations were cited in the following area(s).,...,Pre-permit (Non-operational) / Initial Inspection,41,-74,304,37,"42,100","3,074,096","3,032,550,001",BK78,NaN
11,50041177,FIRSTLIVE STUDIO,Brooklyn,219,CENTRAL AVENUE,"11,221",9292109055,Other,9/24/15,Violations were cited in the following area(s).,...,Pre-permit (Non-operational) / Initial Inspection,41,-74,304,37,"42,100","3,074,096","3,032,550,001",BK78,NaN
12,50041177,FIRSTLIVE STUDIO,Brooklyn,219,CENTRAL AVENUE,"11,221",9292109055,Other,9/24/15,Violations were cited in the following area(s).,...,Administrative Miscellaneous / Initial Inspection,41,-74,304,37,"42,100","3,074,096","3,032,550,001",BK78,NaN
15,50041177,FIRSTLIVE STUDIO,Brooklyn,219,CENTRAL AVENUE,"11,221",9292109055,Other,10/15/15,Violations were cited in the following area(s).,...,Pre-permit (Non-operational) / Re-inspection,41,-74,304,37,"42,100","3,074,096","3,032,550,001",BK78,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198121,50134577,GOODYZ JUICE BAR,Brooklyn,5425,FLATLANDS AVENUE,"11,234",9294880957,"Juice, Smoothies, Fruit Salads",4/21/23,Violations were cited in the following area(s).,...,Pre-permit (Operational) / Initial Inspection,41,-74,318,46,"72,800","3,404,903","3,077,800,012",BK58,NaN
198122,50059778,EMMY SQUARED,Brooklyn,364,GRAND STREET,"11,211",7183604535,Pizza,4/21/23,Violations were cited in the following area(s).,...,Cycle Inspection / Re-inspection,41,-74,301,34,"52,300","3,062,845","3,023,960,019",BK73,NaN
198143,50049804,ASKA,Brooklyn,47,S 5TH ST,"11,249",9174153265,Scandinavian,4/21/23,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,301,33,"54,900","3,335,820","3,024,410,021",BK73,NaN
198145,50059778,EMMY SQUARED,Brooklyn,364,GRAND STREET,"11,211",7183604535,Pizza,4/21/23,Violations were cited in the following area(s).,...,Cycle Inspection / Re-inspection,41,-74,301,34,"52,300","3,062,845","3,023,960,019",BK73,NaN
198148,50049804,ASKA,Brooklyn,47,S 5TH ST,"11,249",9174153265,Scandinavian,4/21/23,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,301,33,"54,900","3,335,820","3,024,410,021",BK73,NaN

In [59]:
df.query("GRADE == 'A' & BORO == 'Brooklyn'")

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,...,INSPECTION TYPE,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA,Location Point1
28,50041177,FIRSTLIVE STUDIO,Brooklyn,219,CENTRAL AVENUE,"11,221",9292109055,Other,1/21/16,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,304,37,"42,100","3,074,096","3,032,550,001",BK78,NaN
29,50041177,FIRSTLIVE STUDIO,Brooklyn,219,CENTRAL AVENUE,"11,221",9292109055,Other,1/21/16,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,304,37,"42,100","3,074,096","3,032,550,001",BK78,NaN
30,50041177,FIRSTLIVE STUDIO,Brooklyn,219,CENTRAL AVENUE,"11,221",9292109055,Other,1/21/16,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,304,37,"42,100","3,074,096","3,032,550,001",BK78,NaN
134,41709616,LA GUIRA RESTAURANT,Brooklyn,580,BROADWAY,"11,206",3474833611,Latin American,5/26/16,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,301,33,"50,900","3,061,332","3,022,470,006",BK72,NaN
136,41709616,LA GUIRA RESTAURANT,Brooklyn,580,BROADWAY,"11,206",3474833611,Latin American,5/26/16,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,301,33,"50,900","3,061,332","3,022,470,006",BK72,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198026,41460224,DUNKIN,Brooklyn,610,UTICA AVENUE,"11,203",7186040470,Donuts,4/21/23,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,309,41,"87,800","3,099,599","3,046,030,040",BK60,NaN
198048,41721760,ALEX LUNCHEONETTE,Brooklyn,685,KNICKERBOCKER AVENUE,"11,221",7184179465,Latin American,4/21/23,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,304,37,"43,500","3,077,315","3,033,780,001",BK77,NaN
198058,50134582,URSULA BROOKLYN,Brooklyn,387A,NOSTRAND AVENUE,"11,216",5053851952,Mexican,4/21/23,Violations were cited in the following area(s).,...,Pre-permit (Operational) / Initial Inspection,41,-74,303,36,"24,900","3,051,622","3,018,230,007",BK75,NaN
198105,41271899,MACRI PARK,Brooklyn,462,UNION AVENUE,"11,211",7185994999,American,4/21/23,Violations were cited in the following area(s).,...,Cycle Inspection / Re-inspection,41,-74,301,34,"50,100","3,068,631","3,027,560,003",BK90,NaN
198112,41721760,ALEX LUNCHEONETTE,Brooklyn,685,KNICKERBOCKER AVENUE,"11,221",7184179465,Latin American,4/21/23,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,304,37,"43,500","3,077,315","3,033,780,001",BK77,NaN

In [60]:
df_si = df.query('BORO == "Staten Island"')
df_si

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,...,INSPECTION TYPE,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA,Location Point1
87,40402742,ISLAND CHATEAU,Staten Island,900,WEST FINGERBOARD ROAD,"10,305",7184475882,American,5/11/16,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,502,50,"9,601","5,047,050","5,031,970,023",SI36,NaN
89,40402742,ISLAND CHATEAU,Staten Island,900,WEST FINGERBOARD ROAD,"10,305",7184475882,American,5/11/16,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,502,50,"9,601","5,047,050","5,031,970,023",SI36,NaN
90,40402742,ISLAND CHATEAU,Staten Island,900,WEST FINGERBOARD ROAD,"10,305",7184475882,American,5/11/16,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,502,50,"9,601","5,047,050","5,031,970,023",SI36,NaN
91,40402742,ISLAND CHATEAU,Staten Island,900,WEST FINGERBOARD ROAD,"10,305",7184475882,American,5/11/16,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,502,50,"9,601","5,047,050","5,031,970,023",SI36,NaN
153,41468119,NANSEN LODGE SOCIAL CLUB,Staten Island,3441,VICTORY BOULEVARD,"10,314",7189830464,American,6/3/16,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,502,50,"29,103","5,036,683","5,021,720,025",SI05,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198103,50133260,SUBWAY,Staten Island,597,BAY STREET,"10,304",7329103666,Sandwiches,4/21/23,Violations were cited in the following area(s).,...,Pre-permit (Operational) / Initial Inspection,41,-74,501,49,"2,100","5,013,201","5,004,920,001",SI37,NaN
198118,50134025,TORINO PIZZA & PASTA,Staten Island,1694,RICHMOND ROAD,"10,304",7183513100,Pizza,4/21/23,Violations were cited in the following area(s).,...,Pre-permit (Operational) / Initial Inspection,41,-74,502,50,"11,401","5,050,604","5,035,310,009",SI36,NaN
198120,50134025,TORINO PIZZA & PASTA,Staten Island,1694,RICHMOND ROAD,"10,304",7183513100,Pizza,4/21/23,Violations were cited in the following area(s).,...,Pre-permit (Operational) / Initial Inspection,41,-74,502,50,"11,401","5,050,604","5,035,310,009",SI36,NaN
198125,41046514,WAGNER COLLEGE - HAWK'S NEST,Staten Island,631,HOWARD AVENUE,"10,301",7183903246,American,4/21/23,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,501,49,"4,700","5,147,163","5,006,200,001",SI08,NaN
198139,50134025,TORINO PIZZA & PASTA,Staten Island,1694,RICHMOND ROAD,"10,304",7183513100,Pizza,4/21/23,Violations were cited in the following area(s).,...,Pre-permit (Operational) / Initial Inspection,41,-74,502,50,"11,401","5,050,604","5,035,310,009",SI36,NaN

In [61]:
df.query("GRADE == 'A' & BORO == 'Staten Island'")

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,...,INSPECTION TYPE,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA,Location Point1
153,41468119,NANSEN LODGE SOCIAL CLUB,Staten Island,3441,VICTORY BOULEVARD,"10,314",7189830464,American,6/3/16,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,502,50,"29,103","5,036,683","5,021,720,025",SI05,NaN
154,41693599,ABOVE BALLROOM,Staten Island,1100,SOUTH AVENUE,"10,314",7184772100,American,6/3/16,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,502,50,"29,102","5,141,912","5,017,250,570",SI05,NaN
156,41468119,NANSEN LODGE SOCIAL CLUB,Staten Island,3441,VICTORY BOULEVARD,"10,314",7189830464,American,6/3/16,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,502,50,"29,103","5,036,683","5,021,720,025",SI05,NaN
159,41711607,SERENA'S CATERING HALL,Staten Island,192,EBBITTS STREET,"10,306",7189800001,American,6/4/16,No violations were recorded at the time of thi...,...,Cycle Inspection / Initial Inspection,41,-74,503,50,"12,806","5,056,658","5,040,710,048",SI25,NaN
226,41360078,ROMANCE BAR AND RESTAURANT,Staten Island,163,VAN PELT AVENUE,"10,303",7188164844,Latin American,6/8/16,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,501,49,"23,100","5,027,175","5,011,920,001",SI12,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197889,41463483,DUNKIN,Staten Island,655,ROSSVILLE AVENUE,"10,309",7189842451,Donuts,4/20/23,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,503,51,"20,801","5,079,747","5,061,450,300",SI32,NaN
197894,41608985,HEARTLAND BAGELS 11,Staten Island,1024,ROSSVILLE AVENUE,"10,309",7189668494,Coffee/Tea,4/20/23,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,503,51,"20,801","5,110,507","5,070,540,518",SI32,NaN
197982,50133260,SUBWAY,Staten Island,597,BAY STREET,"10,304",7329103666,Sandwiches,4/21/23,Violations were cited in the following area(s).,...,Pre-permit (Operational) / Initial Inspection,41,-74,501,49,"2,100","5,013,201","5,004,920,001",SI37,NaN
198091,50133260,SUBWAY,Staten Island,597,BAY STREET,"10,304",7329103666,Sandwiches,4/21/23,Violations were cited in the following area(s).,...,Pre-permit (Operational) / Initial Inspection,41,-74,501,49,"2,100","5,013,201","5,004,920,001",SI37,NaN
198103,50133260,SUBWAY,Staten Island,597,BAY STREET,"10,304",7329103666,Sandwiches,4/21/23,Violations were cited in the following area(s).,...,Pre-permit (Operational) / Initial Inspection,41,-74,501,49,"2,100","5,013,201","5,004,920,001",SI37,NaN

In [62]:
df_bronx = df.query('BORO == "Bronx"')
df_bronx

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,...,INSPECTION TYPE,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA,Location Point1
54,41534242,MCMURRAY HALL (SUNY MARITIME),Bronx,6,PENNYFIELD AVENUE,"10,465",7184095148,American,4/7/16,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,210,13,"11,800","2,100,430","2,055,300,050",BX52,NaN
55,41534242,MCMURRAY HALL (SUNY MARITIME),Bronx,6,PENNYFIELD AVENUE,"10,465",7184095148,American,4/7/16,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,210,13,"11,800","2,100,430","2,055,300,050",BX52,NaN
56,40810657,SAN GERMAN CUCHIFRITO,Bronx,1020,TIFFANY STREET,"10,459",7189025807,Latin American,4/9/16,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,202,17,"12,701","2,005,688","2,027,170,070",BX27,NaN
57,40810657,SAN GERMAN CUCHIFRITO,Bronx,1020,TIFFANY STREET,"10,459",7189025807,Latin American,4/9/16,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,202,17,"12,701","2,005,688","2,027,170,070",BX27,NaN
120,41480756,STAN'S SPORTS BAR,Bronx,836,RIVER AVENUE,"10,451",7189935548,American,5/25/16,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,204,8,"6,300","2,002,979","2,024,830,032",BX63,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198078,50131356,DRAGON CONCOURSE,Bronx,74,EAST 167 STREET,"10,452",7186813388,Chinese,4/21/23,Violations were cited in the following area(s).,...,Pre-permit (Operational) / Initial Inspection,41,-74,204,16,"19,700","2,002,958","2,024,790,019",BX63,NaN
198087,41380708,BURGER KING,Bronx,557,GRAND CONCOURSE,"10,451",7187086651,Hamburgers,4/21/23,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,204,8,"6,300","2,001,057","2,023,470,024",BX63,NaN
198100,50131356,DRAGON CONCOURSE,Bronx,74,EAST 167 STREET,"10,452",7186813388,Chinese,4/21/23,Violations were cited in the following area(s).,...,Pre-permit (Operational) / Initial Inspection,41,-74,204,16,"19,700","2,002,958","2,024,790,019",BX63,NaN
198134,50100754,LECHONERA Y POLLO SABROSO RESTAURANT,Bronx,850,GERARD AVENUE,"10,451",9177378858,Spanish,4/21/23,Violations were cited in the following area(s).,...,Administrative Miscellaneous / Re-inspection,41,-74,204,8,"6,300","2,002,908","2,024,740,037",BX63,NaN
198150,50100754,LECHONERA Y POLLO SABROSO RESTAURANT,Bronx,850,GERARD AVENUE,"10,451",9177378858,Spanish,4/21/23,Violations were cited in the following area(s).,...,Cycle Inspection / Re-inspection,41,-74,204,8,"6,300","2,002,908","2,024,740,037",BX63,NaN

In [63]:
df.query("GRADE == 'A' & BORO == 'Bronx'")

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,...,INSPECTION TYPE,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA,Location Point1
56,40810657,SAN GERMAN CUCHIFRITO,Bronx,1020,TIFFANY STREET,"10,459",7189025807,Latin American,4/9/16,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,202,17,"12,701","2,005,688","2,027,170,070",BX27,NaN
57,40810657,SAN GERMAN CUCHIFRITO,Bronx,1020,TIFFANY STREET,"10,459",7189025807,Latin American,4/9/16,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,202,17,"12,701","2,005,688","2,027,170,070",BX27,NaN
120,41480756,STAN'S SPORTS BAR,Bronx,836,RIVER AVENUE,"10,451",7189935548,American,5/25/16,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,204,8,"6,300","2,002,979","2,024,830,032",BX63,NaN
123,41480756,STAN'S SPORTS BAR,Bronx,836,RIVER AVENUE,"10,451",7189935548,American,5/25/16,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,204,8,"6,300","2,002,979","2,024,830,032",BX63,NaN
127,41480756,STAN'S SPORTS BAR,Bronx,836,RIVER AVENUE,"10,451",7189935548,American,5/25/16,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,204,8,"6,300","2,002,979","2,024,830,032",BX63,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197984,50000307,JOHNNY'S FRIED CHICKEN,Bronx,1350,SHAKESPEARE AVENUE,"10,452",7186810641,Chicken,4/21/23,Violations were cited in the following area(s).,...,Cycle Inspection / Re-inspection,41,-74,204,16,"21,100","2,003,332","2,025,200,001",BX26,NaN
198029,50100754,LECHONERA Y POLLO SABROSO RESTAURANT,Bronx,850,GERARD AVENUE,"10,451",9177378858,Spanish,4/21/23,Violations were cited in the following area(s).,...,Cycle Inspection / Re-inspection,41,-74,204,8,"6,300","2,002,908","2,024,740,037",BX63,NaN
198078,50131356,DRAGON CONCOURSE,Bronx,74,EAST 167 STREET,"10,452",7186813388,Chinese,4/21/23,Violations were cited in the following area(s).,...,Pre-permit (Operational) / Initial Inspection,41,-74,204,16,"19,700","2,002,958","2,024,790,019",BX63,NaN
198100,50131356,DRAGON CONCOURSE,Bronx,74,EAST 167 STREET,"10,452",7186813388,Chinese,4/21/23,Violations were cited in the following area(s).,...,Pre-permit (Operational) / Initial Inspection,41,-74,204,16,"19,700","2,002,958","2,024,790,019",BX63,NaN
198150,50100754,LECHONERA Y POLLO SABROSO RESTAURANT,Bronx,850,GERARD AVENUE,"10,451",9177378858,Spanish,4/21/23,Violations were cited in the following area(s).,...,Cycle Inspection / Re-inspection,41,-74,204,8,"6,300","2,002,908","2,024,740,037",BX63,NaN

In [64]:
df.query("GRADE == 'A' & BORO == 'Bronx'")

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,...,INSPECTION TYPE,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA,Location Point1
56,40810657,SAN GERMAN CUCHIFRITO,Bronx,1020,TIFFANY STREET,"10,459",7189025807,Latin American,4/9/16,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,202,17,"12,701","2,005,688","2,027,170,070",BX27,NaN
57,40810657,SAN GERMAN CUCHIFRITO,Bronx,1020,TIFFANY STREET,"10,459",7189025807,Latin American,4/9/16,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,202,17,"12,701","2,005,688","2,027,170,070",BX27,NaN
120,41480756,STAN'S SPORTS BAR,Bronx,836,RIVER AVENUE,"10,451",7189935548,American,5/25/16,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,204,8,"6,300","2,002,979","2,024,830,032",BX63,NaN
123,41480756,STAN'S SPORTS BAR,Bronx,836,RIVER AVENUE,"10,451",7189935548,American,5/25/16,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,204,8,"6,300","2,002,979","2,024,830,032",BX63,NaN
127,41480756,STAN'S SPORTS BAR,Bronx,836,RIVER AVENUE,"10,451",7189935548,American,5/25/16,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,204,8,"6,300","2,002,979","2,024,830,032",BX63,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197984,50000307,JOHNNY'S FRIED CHICKEN,Bronx,1350,SHAKESPEARE AVENUE,"10,452",7186810641,Chicken,4/21/23,Violations were cited in the following area(s).,...,Cycle Inspection / Re-inspection,41,-74,204,16,"21,100","2,003,332","2,025,200,001",BX26,NaN
198029,50100754,LECHONERA Y POLLO SABROSO RESTAURANT,Bronx,850,GERARD AVENUE,"10,451",9177378858,Spanish,4/21/23,Violations were cited in the following area(s).,...,Cycle Inspection / Re-inspection,41,-74,204,8,"6,300","2,002,908","2,024,740,037",BX63,NaN
198078,50131356,DRAGON CONCOURSE,Bronx,74,EAST 167 STREET,"10,452",7186813388,Chinese,4/21/23,Violations were cited in the following area(s).,...,Pre-permit (Operational) / Initial Inspection,41,-74,204,16,"19,700","2,002,958","2,024,790,019",BX63,NaN
198100,50131356,DRAGON CONCOURSE,Bronx,74,EAST 167 STREET,"10,452",7186813388,Chinese,4/21/23,Violations were cited in the following area(s).,...,Pre-permit (Operational) / Initial Inspection,41,-74,204,16,"19,700","2,002,958","2,024,790,019",BX63,NaN
198150,50100754,LECHONERA Y POLLO SABROSO RESTAURANT,Bronx,850,GERARD AVENUE,"10,451",9177378858,Spanish,4/21/23,Violations were cited in the following area(s).,...,Cycle Inspection / Re-inspection,41,-74,204,8,"6,300","2,002,908","2,024,740,037",BX63,NaN

### Count of grades by borough

In [65]:
dfg_bx = df_bronx["GRADE"].value_counts().to_frame()
dfg_bx

   GRADE
A   6173
B   1085
N    770
Z    667
C    473
P     57

In [66]:
dfg_man = df_manhattan["GRADE"].value_counts().to_frame()
dfg_man

   GRADE
A  27148
B   3467
N   2631
Z   2013
C   1845
P    204

In [67]:
dfg_bk = df_brooklyn["GRADE"].value_counts().to_frame()
dfg_bk

   GRADE
A  18169
B   2755
N   1854
Z   1572
C   1412
P    205

In [68]:
dfg_staten = df_si["GRADE"].value_counts().to_frame()
dfg_staten

   GRADE
A   2809
B    318
N    209
Z    155
C    114
P     12

In [69]:
dfg_q = df_queens["GRADE"].value_counts().to_frame()
dfg_q

   GRADE
A  16718
B   2473
N   1725
Z   1567
C   1363
P    144

In [70]:
display(dfg_bx)
display(dfg_man)
display(dfg_bk)
display(dfg_staten)
display(dfg_q)

   GRADE
A   6173
B   1085
N    770
Z    667
C    473
P     57

   GRADE
A  27148
B   3467
N   2631
Z   2013
C   1845
P    204

   GRADE
A  18169
B   2755
N   1854
Z   1572
C   1412
P    205

   GRADE
A   2809
B    318
N    209
Z    155
C    114
P     12

   GRADE
A  16718
B   2473
N   1725
Z   1567
C   1363
P    144

In [71]:
df.groupby(["BORO", "GRADE"])[["CUISINE DESCRIPTION"]].describe()

                    CUISINE DESCRIPTION
                                  count unique                       top  freq
BORO          GRADE
0             A                      18      2                  American    14
Bronx         A                    6173     50                  American   987
              B                    1085     34            Latin American   156
              C                     473     23                 Caribbean    60
              N                     770     28            Latin American    93
              P                      57     16                   Chinese    11
              Z                     667     25            Latin American    78
Brooklyn      A                   18169     79                  American  3094
              B                    2755     57                   Chinese   401
              C                    1412     44                  American   203
              N                    1854     52                  American   362
              P                     205     34                   Chinese    23
              Z                    1572     49                   Chinese   212
Manhattan     A                   27148     83                  American  7373
              B                    3467     59                  American   676
              C                    1845     51                  American   384
              N                    2631     58                  American   638
              P                     204     35                   Chinese    36
              Z                    2013     52                  American   304
Queens        A                   16718     77                  American  3000
              B                    2473     48                   Chinese   412
              C                    1363     40                   Chinese   217
              N                    1725     50                   Chinese   240
              P                     144     27                   Chinese    20
              Z                    1567     40                   Chinese   305
Staten Island A                    2809     50                  American   583
              B                     318     25                  American    67
              C                     114     13                  American    29
              N                     209     18                   Italian    35
              P                      12      6  Bakery Products/Desserts     5
              Z                     155     12                   Chinese    29

In [72]:
df.groupby(["BORO", "CUISINE DESCRIPTION"])[["GRADE"]].describe()

                                  GRADE
                                  count unique top freq
BORO          CUISINE DESCRIPTION
0             American               14      1   A   14
              Hawaiian                4      1   A    4
Bronx         Afghan                  6      1   N    6
              African               128      6   A   60
              American             1259      6   A  987
...                                 ...    ...  ..  ...
Staten Island Tapas                   2      1   A    2
              Tex-Mex                47      3   A   33
              Thai                   21      3   A   16
              Turkish                 6      1   A    6
              Vegetarian              8      2   A    4

[352 rows x 4 columns]

In [73]:
## export to csv for a clean copy of data

df.to_csv("nyc-inspection-analysis.csv", index = False, encoding = "UTF8")

In [74]:
df["CUISINE DESCRIPTION"].value_counts()

American          34482
Chinese           19686
Pizza             12362
Coffee/Tea        12129
Latin American     8158
                  ...
Southwestern         22
New French           15
Czech                12
Basque                9
Armenian              9
Name: CUISINE DESCRIPTION, Length: 87, dtype: int64

In [75]:
## group our dataframe by grades (best grade)
grade_df = df.groupby("GRADE")
grade_df

In [76]:
grade_df.get_group("A").head()

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,...,INSPECTION TYPE,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA,Location Point1
0,41611669,SMOKING TERRACE,Queens,110-00,ROCKAWAY BOULEVARD,"11,420",7182153308,Bottled Beverages,5/1/12,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,410,32,"86,400","4,457,718","4,115,430,002",QN55,NaN
1,41611669,SMOKING TERRACE,Queens,110-00,ROCKAWAY BOULEVARD,"11,420",7182153308,Bottled Beverages,5/1/12,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,410,32,"86,400","4,457,718","4,115,430,002",QN55,NaN
6,41611669,SMOKING TERRACE,Queens,110-00,ROCKAWAY BOULEVARD,"11,420",7182153308,Bottled Beverages,6/15/13,Violations were cited in the following area(s).,...,Cycle Inspection / Re-inspection,41,-74,410,32,"86,400","4,457,718","4,115,430,002",QN55,NaN
7,41611669,SMOKING TERRACE,Queens,110-00,ROCKAWAY BOULEVARD,"11,420",7182153308,Bottled Beverages,11/15/13,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,410,32,"86,400","4,457,718","4,115,430,002",QN55,NaN
13,40944945,Stage 42,Manhattan,422,WEST 42 STREET,"10,036",2125867610,American,10/14/15,Violations were cited in the following area(s).,...,Cycle Inspection / Re-inspection,41,-74,104,3,"11,500","1,087,184","1,010,517,501",MN15,NaN

In [77]:
grade_df.get_group("C").head()

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,...,INSPECTION TYPE,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA,Location Point1
372,50050112,MCFADDENS,Queens,36-02,126 STREET,"11,368",7186512220,American,9/2/16,Violations were cited in the following area(s).,...,Pre-permit (Operational) / Re-inspection,41,-74,481,21,"38,302","4,536,844","4,017,870,020",QN99,NaN
373,50050112,MCFADDENS,Queens,36-02,126 STREET,"11,368",7186512220,American,9/2/16,Violations were cited in the following area(s).,...,Pre-permit (Operational) / Re-inspection,41,-74,481,21,"38,302","4,536,844","4,017,870,020",QN99,NaN
374,50050112,MCFADDENS,Queens,36-02,126 STREET,"11,368",7186512220,American,9/2/16,Violations were cited in the following area(s).,...,Pre-permit (Operational) / Re-inspection,41,-74,481,21,"38,302","4,536,844","4,017,870,020",QN99,NaN
540,50050878,"COLUMBIA UNIVERSITY BAKER ATHLETICS COMPLEX, S...",Manhattan,533,WEST 218 STREET,"10,034",2128548324,Coffee/Tea,11/12/16,Violations were cited in the following area(s).,...,Pre-permit (Operational) / Re-inspection,41,-74,112,10,"29,700","1,082,066","1,022,440,001",MN99,NaN
678,50010594,CRAFT HOUSE INC,Staten Island,60,VAN DUZER STREET,"10,301",7184423433,Barbecue,1/20/17,Violations were cited in the following area(s).,...,Cycle Inspection / Re-inspection,41,-74,501,49,"2,100","5,013,269","5,004,990,017",SI37,NaN

# Violations codes across businesses

In [78]:
group2 = df[["BORO", "GRADE", "VIOLATION CODE"]]
group2

             BORO GRADE VIOLATION CODE
0          Queens     A            10F
1          Queens     A            06D
2          Queens   NaN            10B
3          Queens   NaN            04J
4          Queens   NaN            06C
...           ...   ...            ...
198169  Manhattan   NaN          15-21
198170     Queens   NaN            10G
198171  Manhattan     A            04A
198172     Queens     N            04L
198173  Manhattan     A            02G

[198174 rows x 3 columns]

In [79]:
group2.describe()

             BORO   GRADE VIOLATION CODE
count      198174  100125         196998
unique          6       6            145
top     Manhattan       A            10F
freq        73649   71035          27986

In [80]:
df[["VIOLATION CODE", "VIOLATION DESCRIPTION"]].sample(10)

       VIOLATION CODE                              VIOLATION DESCRIPTION
95781             10F  Non-food contact surface improperly constructe...
147939            08A  Establishment is not free of harborage or cond...
56980             06A  Personal cleanliness inadequate. Outer garment...
89294             06C  Food not protected from potential source of co...
111999            06D  Food contact surface not properly washed, rins...
857               08A  Facility not vermin proof. Harborage or condit...
84628             08A  Facility not vermin proof. Harborage or condit...
175568            02B     Hot TCS food item not held at or above 140 °F.
35581             20D  “Choking first aid” poster not posted. “Alcoho...
65809             10F  Non-food contact surface improperly constructe...

In [81]:
df["VIOLATION CODE"].nunique()

145

In [82]:
df["VIOLATION CODE"].unique()

array(['10F', '06D', '10B', '04J', '06C', '05D', '10H', '20D', '15L',
       '10I', '10E', '04K', '08A', '06A', nan, '04L', '04M', '09B', '02G',
       '04H', '09C', '02B', '16B', '06E', '06F', '15S', '04N', '08C',
       '04C', '20F', '15I', '10J', '02C', '04E', '10A', '10D', '04A',
       '02H', '06B', '18F', '09A', '05C', '05F', '22C', '05H', '22B',
       '05B', '08B', '22A', '03A', '03B', '10C', '04F', '20A', '07A',
       '15F6', '03E', '18B', '15F7', '1.50E+04', '02A', '17A1', '06G',
       '03C', '15F1', '22E', '15A1', '1.50E+03', '04D', '02I', '16E',
       '16C', '16D', '05A', '05E', '15F2', '18C', '20E', '04O', '06I',
       '06H', '22F', '22G', '04B', '02F', '18G', '18D', '10G', '03G',
       '16A', '02D', '03D', '15F8', '20C', '04I', '18-01', '28-07',
       '20-06', '16-02', '20-04', '16-03', '28-01', '19-04', '20-01',
       '28-03', '18-11', '03I', '20-05', '28-06', '28-04', '15-21', '09D',
       '16-06', '16-04', '18-08', '28-05', '15-42', '15-27', '09E',
       '15-22', '15-37', '04P', '18-02', '16-01', '15-33', '18-14', '06J',
       '20-08', '15-01', '20-02', '18-13', '15-39', '15-36', '15-32',
       '20-07', '19-10', '19-06', '19-07', '19-05', '19-11', '15-29',
       '19-08', '19-01', '19-03', '18-12', '03F'], dtype=object)

In [83]:
df.groupby("VIOLATION CODE")

In [84]:
df.groupby("BORO")["VIOLATION CODE"].count().to_frame()

               VIOLATION CODE
BORO
0                          22
Bronx                   18389
Brooklyn                52557
Manhattan               73181
Queens                  46413
Staten Island            6436

In [85]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198174 entries, 0 to 198173
Data columns (total 27 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   CAMIS                  198174 non-null  int64
 1   DBA                    198174 non-null  object
 2   BORO                   198174 non-null  object
 3   BUILDING               197825 non-null  object
 4   STREET                 198174 non-null  object
 5   ZIPCODE                195461 non-null  float64
 6   PHONE                  198165 non-null  object
 7   CUISINE DESCRIPTION    198174 non-null  object
 8   INSPECTION DATE        198174 non-null  object
 9   ACTION                 198174 non-null  object
 10  VIOLATION CODE         196998 non-null  object
 11  VIOLATION DESCRIPTION  196998 non-null  object
 12  CRITICAL FLAG          198174 non-null  object
 13  SCORE                  191590 non-null  float64
 14  GRADE                  100125 non-null  object
 15  GRADE DATE             92947 non-null   object
 16  RECORD DATE            198174 non-null  object
 17  INSPECTION TYPE        198174 non-null  object
 18  Latitude               197938 non-null  float64
 19  Longitude              197938 non-null  float64
 20  Community Board        194904 non-null  float64
 21  Council District       194904 non-null  float64
 22  Census Tract           194904 non-null  float64
 23  BIN                    193947 non-null  float64
 24  BBL                    197617 non-null  float64
 25  NTA                    194904 non-null  object
 26  Location Point1        0 non-null       float64
dtypes: float64(10), int64(1), object(16)
memory usage: 40.8+ MB

In [86]:
df.describe()

,CAMIS,ZIPCODE,SCORE,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,Location Point1
count,"198,174","195,461","191,590","197,938","197,938","194,904","194,904","194,904","193,947","197,617",0
mean,"47,228,871","10,705",22,40,-73,253,21,"29,952","2,560,660","2,448,807,085",NaN
std,"4,160,726",593,17,5,9,129,16,"31,382","1,339,366","1,331,576,966",NaN
min,"30,075,445","10,000",0,0,-74,101,1,100,"1,000,000",1,NaN
25%,"41,585,425","10,023",11,41,-74,106,4,"8,000","1,050,200","1,010,860,034",NaN
50%,"50,053,441","11,101",18,41,-74,302,20,"17,500","3,018,494","3,006,970,007",NaN
75%,"50,096,065","11,230",29,41,-74,401,34,"42,200","4,003,558","4,002,660,021",NaN
max,"50,134,784","12,345",157,41,0,595,51,"162,100","5,799,501","5,270,000,501",NaN

In [87]:
df["CRITICAL FLAG"]

0           Not Critical
1               Critical
2           Not Critical
3               Critical
4               Critical
               ...
198169    Not Applicable
198170      Not Critical
198171          Critical
198172          Critical
198173          Critical
Name: CRITICAL FLAG, Length: 198174, dtype: object

In [88]:
df_score = df[["CRITICAL FLAG", "BORO", "GRADE", "SCORE"]]
df_score

         CRITICAL FLAG       BORO GRADE  SCORE
0         Not Critical     Queens     A      7
1             Critical     Queens     A      7
2         Not Critical     Queens   NaN     21
3             Critical     Queens   NaN     21
4             Critical     Queens   NaN     21
...                ...        ...   ...    ...
198169  Not Applicable  Manhattan   NaN    NaN
198170    Not Critical     Queens   NaN     40
198171        Critical  Manhattan     A     10
198172        Critical     Queens     N     26
198173        Critical  Manhattan     A      7

[198174 rows x 4 columns]

In [89]:
df_score.sort_values(by="SCORE", ascending = False)

         CRITICAL FLAG       BORO GRADE  SCORE
36850     Not Critical   Brooklyn   NaN    157
189183    Not Critical  Manhattan   NaN    157
189191        Critical  Manhattan   NaN    157
36650         Critical   Brooklyn   NaN    157
36662     Not Critical   Brooklyn   NaN    157
...                ...        ...   ...    ...
198133    Not Critical     Queens   NaN    NaN
198134    Not Critical      Bronx   NaN    NaN
198149    Not Critical  Manhattan   NaN    NaN
198165  Not Applicable  Manhattan   NaN    NaN
198169  Not Applicable  Manhattan   NaN    NaN

[198174 rows x 4 columns]

In [90]:
df.sort_values(by="VIOLATION CODE", ascending = False)

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,...,INSPECTION TYPE,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA,Location Point1
196481,50000473,JUAN BAR,Queens,96-15D,ROOSEVELT AVENUE,"11,368",7184240999,Mexican,4/17/23,Violations were cited in the following area(s).,...,Cycle Inspection / Re-inspection,41,-74,403,21,"37,500","4,430,241","4,017,580,012",QN26,NaN
117166,50081606,CROWN FRIED CHICKEN,Queens,16829,HILLSIDE AVE,"11,432",7185235359,Chicken,7/1/22,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,408,24,"45,400","4,442,232","4,098,410,001",QN35,NaN
192263,50116676,PLACES BAR & GRILL,Brooklyn,622,CHESTER STREET,"11,212",9172990429,Caribbean,4/5/23,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,316,42,"91,600","3,082,771","3,036,240,001",BK81,NaN
126489,50082395,LA GUARDIA CAFE,Queens,9702,23RD AVE,"11,369",7184580001,Spanish,8/5/22,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,403,21,"35,700","4,023,825","4,010,910,001",QN27,NaN
161466,50107886,Steve's Original Jerk Chicken,Brooklyn,4902,CHURCH AVENUE,"11,203",3476150399,Caribbean,12/21/22,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,41,-74,317,45,"86,000","3,102,819","3,046,970,001",BK91,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197144,41216130,GA HWA RESTAURANT,Queens,2932,UNION STREET,"11,354",7188863223,Korean,4/19/23,No violations were recorded at the time of thi...,...,Administrative Miscellaneous / Initial Inspection,41,-74,407,20,"88,901","4,100,731","4,043,430,110",QN22,NaN
197831,40578058,PHO BAC VIETNAMESE SEAFOOD CUISINE,Queens,82-78,BROADWAY,"11,373",7186390000,Southeast Asian,4/20/23,No violations were recorded at the time of thi...,...,Administrative Miscellaneous / Initial Inspection,41,-74,404,25,"48,500","4,439,095","4,015,350,095",QN50,NaN
197934,50078733,MCDONALD'S,Brooklyn,904,MANHATTAN AVENUE,"11,222",3477284265,Hamburgers,4/21/23,Establishment re-opened by DOHMH.,...,Cycle Inspection / Reopening Inspection,41,-74,301,33,"57,500","3,064,742","3,025,590,001",BK76,NaN
198028,50094262,STAGE DOOR DELI,Manhattan,26,VESEY STREET,"10,007",2127915252,Sandwiches,4/21/23,No violations were recorded at the time of thi...,...,Administrative Miscellaneous / Initial Inspection,41,-74,101,1,"2,100","1,001,236","1,000,880,008",MN24,NaN
198077,50079488,JOE & THE JUICE GREENWICH ST,Manhattan,295,GREENWICH STREET,"10,007",9179721892,Coffee/Tea,4/21/23,No violations were recorded at the time of thi...,...,Administrative Miscellaneous / Initial Inspection,41,-74,101,1,"2,100","1,066,187","1,001,377,502",MN24,NaN

In [91]:
df_main = df[['DBA', 'BORO','CUISINE DESCRIPTION', 'GRADE']]
df_main

                                    DBA       BORO CUISINE DESCRIPTION GRADE
0                       SMOKING TERRACE     Queens   Bottled Beverages     A
1                       SMOKING TERRACE     Queens   Bottled Beverages     A
2                       SMOKING TERRACE     Queens   Bottled Beverages   NaN
3                       SMOKING TERRACE     Queens   Bottled Beverages   NaN
4                       SMOKING TERRACE     Queens   Bottled Beverages   NaN
...                                 ...        ...                 ...   ...
198169                    LAMBDA LOUNGE  Manhattan               Other   NaN
198170               THE VILLAGE SALOON     Queens            American   NaN
198171                    LAMBDA LOUNGE  Manhattan               Other     A
198172  KABAYAN BISTRO LOUNGE & BANQUET     Queens            Filipino     N
198173                      THAI MARKET  Manhattan                Thai     A

[198174 rows x 4 columns]

In [92]:
df_main.sample(30)

,DBA,BORO,CUISINE DESCRIPTION,GRADE
14660,QUIJOTE,Queens,Latin American,NaN
44516,CASANOVA RESTAURANT,Brooklyn,Italian,A
127524,TIANFU KING RESTAURANT,Queens,Chinese,A
90901,CARTAZ CUISINE,Brooklyn,Caribbean,NaN
172453,TAP HAUS,Manhattan,American,A
126718,STARBUCKS,Manhattan,Coffee/Tea,A
179268,ISLAND CUISINE RESTAURANT AND SMOOTHIE BAR,Manhattan,"Juice, Smoothies, Fruit Salads",NaN
135014,LIFECAFE,Manhattan,"Juice, Smoothies, Fruit Salads",A
50828,JOJO DUCK,Manhattan,Chinese,NaN
54318,DAN'S BAKERY & ROTI HOUSE,Queens,Caribbean,A
160379,WEST CORK-UNION HALL,Staten Island,American,NaN
70630,TENZAN,Manhattan,Japanese,A
192517,NEW FLUSHING BAKERY,Queens,Bakery Products/Desserts,NaN
79809,IL FIORISTA,Manhattan,Mediterranean,A
118585,INDAY,Manhattan,Indian,NaN
65648,OCEAN EATS,Brooklyn,Seafood,NaN
60106,SONAMU HOUSE,Queens,Korean,NaN
120660,EMBLEM,Brooklyn,American,NaN
80923,SHUNFA BAKERY,Brooklyn,Bakery Products/Desserts,NaN
168652,DUNKIN,Manhattan,Donuts,A
124007,BURRITO REPUBLIC,Queens,Mexican,NaN
82332,PATACON PISAO,Queens,Spanish,NaN
179224,EAT PRETTY,Manhattan,Coffee/Tea,NaN
65806,POPEYES LOUISIANA CHICKEN,Brooklyn,Chicken,NaN
65362,KAIETEUR RESTAURANT & BAKERY,Queens,Caribbean,A
129386,DUNKIN,Bronx,Donuts,A
25828,"DUNKIN',' BASKIN ROBBINS",Brooklyn,Donuts,A
113622,LENWICH,Manhattan,American,NaN
162798,BIG WONG RESTAURANT,Brooklyn,Chinese,N
142686,LITTLE CAESARS,Queens,Pizza,NaN

## Analysis not finished by 04/27/2023.